<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>휴대폰에서 인증서 가져오기</title>

    <link type="text/css" rel="stylesheet" href="../styles/css/mCommon.css?revision=e54ce34"/>
    <link type="text/css" rel="stylesheet" href="../styles/css/jquery-ui.css?revision=e54ce34">

    <script type="text/javascript" src="../styles/js/jquery-1.11.0.min.js?revision=e54ce34"></script>
    <script type="text/javascript" src="../styles/js/jquery-ui.js?revision=e54ce34"></script>

    <script type="text/javascript" src="../scripts/__GobalValue__.js?revision=e54ce34"></script>
    <script type="text/javascript" src="../languages/mImportFromPhoneApp.js?revision=e54ce34"></script>

</head>
<body>
<div>
    <!-- Top -->
    <div class="CERT_title">
        <div class="TITLE_div">
            <p id="title">
                <script>document.write(mFromPhoneLang(4));</script>
            </p>
        </div>
        <div class="xBtn" id="x_btn" alt="닫기">닫기</div>
    </div>

    <div class="titleDivision_div">
        <div class="titleDivisionLine"></div>
    </div>

    <!-- middle -->
    <div class="CERT_contents">
        <div class="PC_title3">
            <p>
                <script>document.write(mFromPhoneLang(5));</script>
            </p>
        </div>
        <div class="PHONE_process_img">

        </div>


        <div class="PC_title2">
            <p>
                <script>document.write(mFromPhoneLang(6));</script>
            </p>
        </div>
        <div class="PHONE_info">
            <div class="INFO_contents">

                <p>
                    <script>document.write(mFromPhoneLang(8));</script>
                </p>
            </div>

            <div class="INFO_contents">

                <p>
                    <script>document.write(mFromPhoneLang(9));</script>
                </p>
            </div>

<!--
            <div class="APP_restart no-drag" id="app_restart_btn">
                <p>
                    <script>document.write(mFromPhoneLang(7));</script>
                </p>
            </div>
        -->
        </div>

<!--
        <div class="PHONE_pw_wrap">
            <div class="PHONE_pw_img"></div>
            <div class="PHONE_pw_info">
                <script>document.write(mFromPhoneLang(10));</script>
            </div>
        </div>
-->
        <!-- 비밀번호 입력창 -->
      <!--  
        <form id="pinForm" name="pinForm" method="post" onsubmit="return false;">
            <div class="FORM_wrap">
                <div class="PW_div importAPP_margin" id="passwordBox">
                    <input type="password" autocomplete="off" id="pin"/>
                </div>
            </div>
        </form>
-->
        <!-- 확인 취소 버튼 -->


        <div class="BTN_common">
            <div id="commonBtn" class="commonForm">
                <div class="install_btn" id="install_btn">
                    <p>
                        <script>document.write(mFromPhoneLang(12));</script>
                    </p>
                </div>
                <div class="get_btn" id="get_btn">
                    <p>
                        <script>document.write(mFromPhoneLang(13));</script>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="copyright">
        Copyright 2016 By YETTIESOFT.ALL right reserved.
    </div>
</div>
</body>

<script type="text/javascript" src="../library/mobileKeySafer.js?revision=e54ce34"></script>
<script type="text/javascript" src="../scripts/mImportFromPhoneApp.js?revision=e54ce34"></script>
<!-- <script type="text/javascript" src="../library/dragiframe.js"></script> -->
</html>