<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>전자서명</title>
    <script type="text/javascript" src="../styles/js/jquery-1.11.0.min.js?revision=e54ce34"></script>
    <script type="text/javascript" src="../vestsign.js?revision=e54ce34"></script>

    <script>
        var s = '\n';
        s += '-----BEGIN CERTIFICATE-----\n';
        s += 'MIIFeDCCBGCgAwIBAgIDP1JiMA0GCSqGSIb3DQEBCwUAMFcxCzAJBgNVBAYTAmtyMRAwDgYDVQQK\n';
        s += 'DAd5ZXNzaWduMRUwEwYDVQQLDAxBY2NyZWRpdGVkQ0ExHzAdBgNVBAMMFnllc3NpZ25DQS1UZXN0\n';
        s += 'IENsYXNzIDIwHhcNMTQxMTA0MTUwMDAwWhcNMTUxMTA1MTQ1OTU5WjB0MQswCQYDVQQGEwJrcjEQ\n';
        s += 'MA4GA1UECgwHeWVzc2lnbjEPMA0GA1UECwwGc2VydmVyMRAwDgYDVQQLDAd5ZXNzaWduMRMwEQYD\n';
        s += 'VQQLDAp5ZXR0aWVzb2Z0MRswGQYDVQQDDBJkZXYueWV0dGllc29mdC5jb20wggEiMA0GCSqGSIb3\n';
        s += 'DQEBAQUAA4IBDwAwggEKAoIBAQC3G4D5dTMLfc55pvyXeG01GvDf6hhb02fIFctkD1CmlihvC5BP\n';
        s += '5hJUeGrr2mnh1QDp7UM/GpMyLSsi1H8PcJL4cZMHAu+AhxwrZxe0DnCFW9L8tsKhU14NnHmkP77j\n';
        s += 'XZsugl5Hd1Lin2qGBY5M0e1qFxRsqHtRsnxPf6kGQhc/VrWxmkg0LpDVwmho1LgD66zVHgAHm5uZ\n';
        s += 'k2VdrggdmIv861wTcghE9q8BiCdreU0jSzu+8k1OE99w6s1P78HhM+YXjocGdNwwx9mLgAtuD6HD\n';
        s += 'b8WVmZOgxoMuxFndYPKwMTyqzC1FjmXw9WyN1khkkkfOWQPwNVqKDbHiw2iZFsvrAgMBAAGjggIu\n';
        s += 'MIICKjCBkwYDVR0jBIGLMIGIgBQUj6BKC6Xz5vfMJkaxkNJdgJzS9KFtpGswaTELMAkGA1UEBhMC\n';
        s += 'S1IxDTALBgNVBAoMBEtJU0ExLjAsBgNVBAsMJUtvcmVhIENlcnRpZmljYXRpb24gQXV0aG9yaXR5\n';
        s += 'IENlbnRyYWwxGzAZBgNVBAMMEktpc2EgVGVzdCBSb290Q0EgNYIBJTAdBgNVHQ4EFgQUWMJuTpim\n';
        s += 'VBVqjqsVuNO0Irps6zUwDgYDVR0PAQH/BAQDAgbAMH4GA1UdIAEB/wR0MHIwcAYJKoMajJpFAQED\n';
        s += 'MGMwMAYIKwYBBQUHAgIwJB4ix3QAIMd4yZ3BHLKUACDC3NXYxqkAIMd4yZ3BHMeFssiy5DAvBggr\n';
        s += 'BgEFBQcCARYjaHR0cDovL3Nub29weS55ZXNzaWduLm9yLmtyL2Nwcy5odG0wLgYDVR0RBCcwJaAj\n';
        s += 'BgkqgxqMmkQKAQGgFjAUDBJkZXYueWV0dGllc29mdC5jb20wdQYDVR0fBG4wbDBqoGigZoZkbGRh\n';
        s += 'cDovL3Nub29weS55ZXNzaWduLm9yLmtyOjYwMjAvb3U9ZHAxNnA0NixvdT1BY2NyZWRpdGVkQ0Es\n';
        s += 'bz15ZXNzaWduLGM9a3I/Y2VydGlmaWNhdGVSZXZvY2F0aW9uTGlzdDA8BggrBgEFBQcBAQQwMC4w\n';
        s += 'LAYIKwYBBQUHMAGGIGh0dHA6Ly9zbm9vcHkueWVzc2lnbi5vci5rcjo0NjEyMA0GCSqGSIb3DQEB\n';
        s += 'CwUAA4IBAQCTYqgA2iJv25cp2hqDgQrOYlzunckdbY/fXquULINt+af4LYYBiRm7909HyalUmT22\n';
        s += '5ALCdsWfkMFv5g2ZBxDlzzCnWqRB36GxYcjcYvToTDa/CMhtMw96yUhtBGkrwHDICRhVNmPJ0XK1\n';
        s += 'S20/O3bTUvNsPgsgTDdkQLCGozryIU5mFbMW9mX5Oewu/O9Ysr3QgSRkPM9zVTX4tc0BxgjighPs\n';
        s += 'dL4ZT+EwLnac0sqoX3MxpsClC8DHSu9UQDy7g8CV9EUS8gPSbb8rBxqGYqycl4cjDMr9s27GJVBr\n';
        s += 'RQtcSrt+iYp8/C2D+FmWoeKITtjtSDlKQTN8kmSb2R1Sjdvh\n';
        s += '-----END CERTIFICATE-----\n';
        s += '';


        var option = {
            encoding: 'hex',
            charset: 'UTF-8',
        };


        var mSign = function (plain) {
            option .usepwd = true;
            yettie.mSign(plain, option, function (result) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    result.code = 0;
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.SIGN, result, undefined, function(){}, function(){});
                }else {
                    //mkoreamint.signResult(0, result.signature, result.vidMessage);
                    mkoreamint.signResult(0, JSON.stringify(result), "");
                }
            }, function (error) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.CLOSE, {code: error.code, message: error.getReason().toString()}, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(error.code, error.getReason().toString(), '');
                }
            });
        };

        var mSignVid = function (plain) {
            option.vid = {
                recipientCertificate: s
            }
            mSign(plain);
        }

        var mManager = function() {
            option.usepwd = false;
            yettie.mSign("", option, function (result) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    result.code = 0;
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.MANAGER, result, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(0, "", "");
                }
            }, function (error) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.CLOSE, {code: error.code, message: error.getReason().toString()}, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(error.code, error.getReason().toString(), '');
                }
            });
        }

        var mDeleteCertificate = function() {
            yettie.mDeleteCertificate(option, function (res) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.MANAGER, 0, true, function(){}, function(){});
                }else {
                    mkoreamint.signResult(0, "", "");
                }
            }, function (error) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.CLOSE, {code: error.code, message: error.getReason().toString()}, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(error.code, error.getReason().toString(), '');
                }
            })
        }

        var mChangePassword = function() {
            yettie.mChangePassword(option, function (res) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.MANAGER, 0, true, function(){}, function(){});
                }else {
                    mkoreamint.signResult(0, "", "");
                }
            }, function (error) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.CLOSE, {code: error.code, message: error.getReason().toString()}, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(error.code, error.getReason().toString(), '');
                }
            })
        }

        var mImportCertificate = function() {
            yettie.mImportCertificate(option, function (res) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.MANAGER, 0, true, function(){}, function(){});
                }else {
                    mkoreamint.signResult(0, "", "");
                }
            }, function (error) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.CLOSE, {code: error.code, message: error.getReason().toString()}, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(error.code, error.getReason().toString(), '');
                }
            })
        }

        var mExportCertificate = function() {
            yettie.mExportCertificate(option, function (res) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.MANAGER, 0, true, function(){}, function(){});
                }else {
                    mkoreamint.signResult(0, "", "");
                }
            }, function (error) {
                if(yettie.vest.iosKoreamintLib.isIOS()){
                    yettie.vest.iosKoreamintLib.domStatus(yettie.vest.iosKoreamintLib.STATUS.CLOSE, {code: error.code, message: error.getReason().toString()}, undefined, function(){}, function(){});
                }else {
                    mkoreamint.signResult(error.code, error.getReason().toString(), '');
                }
            })
        }
    </script>
</head>
<body>

</body>
</html>