<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>가입자 이용약관</title>
    <link type="text/css" rel="stylesheet" href="../styles/css/common.css?revision=e54ce34"/>
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="../styles/css/ie7Debug.css"/>
    <![endif]-->
    <link rel="stylesheet" href="../styles/css/jquery-ui.css?revision=e54ce34">

    <script type="text/javascript" src="../styles/js/jquery-1.11.0.min.js?revision=e54ce34"></script>
    <script src="../styles/js/jquery-ui.js?revision=e54ce34"></script>

    <script type="text/javascript" src="../library/json3.min.js?revision=e54ce34"></script>
    <script type="text/javascript" src="../library/iecompatibility.js?revision=e54ce34"></script>

    <script type="text/javascript" src="../scripts/__GobalValue__.js?revision=e54ce34"></script>
    <script type="text/javascript" src="../languages/notMatchedPassword.js?revision=e54ce34"></script>
    <script type="text/javascript" src="../library/dragiframe.js?revision=e54ce34"></script>
    <script>
        function dragCheck(){
            if(window.navigator.userAgent.toLowerCase().indexOf('firefox') !== -1)
                return;
            addHandle(document.getElementById('titleText'), window);
        }
    </script>
</head>
<body onload="dragCheck()">
<div class="Wrapper">
    <div class="CERT_titlebar_common" style="width:429px;">
        <h1><ul><li id="titleText" tabindex="1"><script>document.write(notMatchedPasswordLang(0));</script></li></ul></h1>
        <div class="CERT_util_btnClose" id="certAgree_xBtn"><a tabindex="2" alt="닫힘" title="닫힘"></a></div>
    </div>
    <div class="CERT_certWrapper">
        <textarea class="CERT_provision notMatchedInfo" readonly id="textareaInfo"></textarea>

        <div class="CERT_btns_common">
            <p class="CERT_btnBg_mbtn" id="certAgree_confirmBtn">
              <a tabindex="9998" style="padding: 2px 0 0 0; width:117px">
                <script>document.write(notMatchedPasswordLang(1));</script>
              </a>
            </p>
            <p class="CERT_btnBg_mbtn" id="certAgree_cancelBtn">
              <a tabindex="9999" style="padding: 2px 0 0 0; width:117px">
                <script>document.write(notMatchedPasswordLang(2));</script>
              </a>
            </p>
        </div>

    </div>

</div>
</body>
<script type="text/javascript" src="../scripts/notMatchedPassword.js?revision=e54ce34"></script>
</html>