@charset "utf-8";

/*footer*/
#panelFooter{
    width: 100%;
    position: relative;
    float: left;
}
#panelFooter{
	height: 95px;
    background: url('../images/footerBg.png') repeat 0 0;
}

#panelFooter .footer_wrap{
    width: 1250px;
    margin: 0 auto;
    color: #d7d7d7;
}

#panelFooter .footer_wrap p.footLogo{float:left;margin-top:23px;}
#panelFooter .footer_wrap address,
#panelFooter .footer_wrap p{float:left;margin-left:33px;}
#panelFooter .footer_wrap address{margin:25px 0 5px 33px;}

/* 협력업체 */
#panelFooter .busiWrapBg{
	height:45px;
	background:#e8e8e8;
	border-top:1px solid #CFCFCF;
}

#panelFooter .busiWrapBg .busiWrap{
	width: 1250px;
    margin: 0 auto;
}

#panelFooter .busiWrapBg .busiWrap ul li{
	float:left;
	width:250px;
	height:38px;
	text-align:center;
	padding-top:7px;
}

#panelFooter .busiWrapBg .busiWrap ul li.odaCenter{
	padding-top:12px;
	height:33px;
}
