<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 전자입찰 > 입찰결과 Mapper
 *
 * <pre>
 * sqlmap.oda.oep.elbi 
 *    |_ OepElbiBidResultMapper.xml
 * 
 * </pre>
 * @date : 2015. 04. 02. 오후 1:34:33
 * @version : 1.0
 * @author : 은우소프트 손연우
-->
<mapper namespace="com.eunwoosoft.opro.ebid.dao.OproEbidResultDao">	

	<!--  
     * <pre>
     * 1. 개요 : 입찰결과 목록조회_페이징 
     * 2. 처리내용 :
     *  	
     * </pre>
     * @Query ID : selectBidResultListWithPgng
     * @date : 2015. 04. 02.
     * @author : 은우소프트 손연우
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 04. 02.       은우소프트 손연우              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidResultListWithPgng" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT * FROM (
			<include refid="bidResultList"/>
			<include refid="bidResultWhere"/>
			ORDER BY BIPLMA.ANNC_NO DESC ,BIPLMA.ANNC_NGR DESC
		) T1
		WHERE 1 = 1
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 입찰결과 목록총건수조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectBidResultListTotcnt
     * @date : 2015. 04. 02.
     * @author : 은우소프트 손연우
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 04. 02.       은우소프트 손연우              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidResultListTotcnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="bidResultList"/>
			<include refid="bidResultWhere"/>
		) T1
		WHERE 1 = 1		
	</select>

	<sql id="bidResultList">
		SELECT	BIPLMA.ANNC_NO
					,BIPLMA.ANNC_NGR
					,BITI.ROUND_NO
					,BIPLMA.BID_NM
					,BIPLMA.CONT_MTCD
					,F_CDVAL_INQIRE('CONT_MTCD', BIPLMA.CONT_MTCD) AS CONT_MTCD_NM
					,BIPLMA.CONT_SECD
					,F_CDVAL_INQIRE('CONT_SECD', BIPLMA.CONT_SECD) AS CONT_SECD_NM
					,BIPLMA.BID_PSCD
					,F_CDVAL_INQIRE('BID_PSCD', BIPLMA.BID_PSCD) AS BID_PSCD_NM
					,BITI.ANNC_DT
					,BITI.OPNG_DT
					,BITI.BIDC_SBMT_ENDT
					, (	SELECT 	COUNT(1)
							FROM 	T_BI_VEND_DTL
							WHERE ANNC_NO = BITI.ANNC_NO
							AND		ANNC_NGR = BITI.ANNC_NGR
							AND		ROUND_NO = BITI.ROUND_NO
							AND		VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
							AND		BID_TPI_SECD = 'OP03') AS BIDC_SBMT_CNT
		FROM 	T_BI_MST BIPLMA
					,T_BI_ROUND BITI
		WHERE 	BIPLMA.ANNC_NO = BITI.ANNC_NO
		AND		BIPLMA.ANNC_NGR = BITI.ANNC_NGR
		AND		BIPLMA.ANNC_NGR = ( SELECT MAX(ANNC_NGR) FROM T_BI_MST WHERE ANNC_NO = BIPLMA.ANNC_NO )		
		AND		BITI.ROUND_NO = ( SELECT MAX(ROUND_NO) FROM T_BI_ROUND WHERE ANNC_NO = BIPLMA.ANNC_NO AND ANNC_NGR = BIPLMA.ANNC_NGR )		
		AND		BIPLMA.BID_PSCD IN ('PF41', 'PF60', 'PF61','PF63','PF99')
		AND		BIPLMA.BID_MTCD IN ('BID')
	</sql>
	
	<sql id="bidResultWhere">
		<if test='P_BID_NM_S != null and P_BID_NM_S != "" '>
			AND BIPLMA.BID_NM LIKE '%'||#{P_BID_NM_S}||'%'
		</if>
		<if test='P_ANNC_NO_S != null and P_ANNC_NO_S != "" '>
			AND BIPLMA.ANNC_NO LIKE '%'||#{P_ANNC_NO_S}||'%'
		</if>
		<if test='P_CONT_SECD_S != null and P_CONT_SECD_S != "" '>
			AND BIPLMA.CONT_SECD = #{P_CONT_SECD_S}
		</if>
		<if test='P_BID_PSCD_S != null and P_BID_PSCD_S != "" '>
			AND BIPLMA.BID_PSCD = #{P_BID_PSCD_S}
		</if>
		<if test='P_ANNC_STDT_S != null and P_ANNC_STDT_S != "" '>
			AND TO_CHAR(TO_DATE(BITI.ANNC_DT, 'yyyyMMddhh24miss'), 'yyyyMMdd') >= #{P_ANNC_STDT_S}
		</if>
		<if test='P_ANNC_ENDT_S != null and P_ANNC_ENDT_S != "" '>
			AND TO_CHAR(TO_DATE(BITI.ANNC_DT, 'yyyyMMddhh24miss'), 'yyyyMMdd') &lt;= #{P_ANNC_ENDT_S}
		</if>
	</sql>
</mapper>