<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 전자입찰 > 나의 적격심사 Mapper
 *
 * <pre>
 * sqlmap.oda.iep.elbi 
 *    |_ OepElbiMyProperJdgmnMapper.xml
 * 
 * </pre>
 * @date : 2015. 03. 23 오후 2:25:13
 * @version : 1.0
 * @author : 은우소프트 손연우
-->
<mapper namespace="com.eunwoosoft.opro.ebid.dao.OproEbidMyProperJdgmnDao">	
	<!--  
     * <pre>
     * 1. 개요 : 나의 적격심사 목록조회_페이징 
     * 2. 처리내용 :
     *  	
     * </pre>
     * @Query ID : selectMyProperJdgmnListWithPgng
     * @date : 2015. 03. 23.
     * @author : 은우소프트 손연우
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 23.       은우소프트 손연우              최초 작성 
     *  =======================================================   
     -->
	<select id="selectMyProperJdgmnListWithPgng" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT * FROM (
			<include refid="myProperJdgmnList"/>
			<include refid="myProperJdgmnWhere"/>
			ORDER BY ANNC_NO DESC ,ANNC_NGR DESC
		) T1
		WHERE 1 = 1
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 나의 적격심사 목록총건수조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectMyProperJdgmnListTotcnt
     * @date : 2015. 02. 23.
     * @author : 은우소프트 손연우
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 02. 23.       은우소프트 손연우              최초 작성 
     *  =======================================================   
     -->
	<select id="selectMyProperJdgmnListTotcnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="myProperJdgmnList"/>
			<include refid="myProperJdgmnWhere"/>
		) T1
		WHERE 1 = 1		
	</select>

	<sql id="myProperJdgmnList">
		SELECT 	ONE.ANNC_NO
					,ONE.ANNC_NGR
					,TWO.ROUND_NO
					,ONE.CONT_SECD
					,F_CDVAL_INQIRE('CONT_SECD', ONE.CONT_SECD) AS CONT_SECD_NM
					,ONE.BID_NM
					,ONE.CONT_MTCD
					,F_CDVAL_INQIRE('CONT_MTCD', ONE.CONT_MTCD) AS CONT_MTCD_NM
					,TWO.ANNC_DT
					,ONE.BID_PSCD
					,F_CDVAL_INQIRE('BID_PSCD', ONE.BID_PSCD) AS BID_PSCD_NM
                    ,NEPRJUDI.NEGO_DT
                    ,VEND.BID_VEND_PSCD
                    ,NEPRJUDI.NEGO_NTFC_YN
		FROM  	T_BI_MST ONE
					,T_BI_ROUND TWO
					,T_BI_VEND_MST VEND
					,T_BI_VEND_BIOP NEPRJUDI
		WHERE 	ONE.ANNC_NO = TWO.ANNC_NO
		AND    	ONE.ANNC_NGR = TWO.ANNC_NGR
		AND		ONE.ANNC_NO = VEND.ANNC_NO
		AND		ONE.ANNC_NGR = VEND.ANNC_NGR
		AND		TWO.ROUND_NO = VEND.ROUND_NO
		AND		VEND.ANNC_NO = NEPRJUDI.ANNC_NO
		AND		VEND.ANNC_NGR = NEPRJUDI.ANNC_NGR
		AND		VEND.ROUND_NO = NEPRJUDI.ROUND_NO
		AND		VEND.VEND_REG_NO = NEPRJUDI.VEND_REG_NO
		AND		VEND.BID_VEND_PSCD = 'OP07'
		AND		NEPRJUDI.NEGO_NTFC_YN = 'Y'
		AND		NEPRJUDI.VEND_REG_NO = #{P_VEND_REG_NO}

	</sql>
	
	<sql id="myProperJdgmnWhere">
		<if test='P_BID_NM_S != null and P_BID_NM_S != "" '>
			AND BID_NM LIKE '%'||#{P_BID_NM_S}||'%'
		</if>
		<if test='P_CONT_SECD_S != null and P_CONT_SECD_S != "" '>
			AND CONT_SECD = #{P_CONT_SECD_S}
		</if>
		<if test='P_ANNC_STDT_S != null and P_ANNC_STDT_S != "" '>
			AND TO_CHAR(TO_DATE(ANNC_DT, 'yyyyMMddhh24miss'), 'yyyyMMdd') >= #{P_ANNC_STDT_S}
		</if>
		<if test='P_ANNC_ENDT_S != null and P_ANNC_ENDT_S != "" '>
			AND TO_CHAR(TO_DATE(ANNC_DT, 'yyyyMMddhh24miss'), 'yyyyMMdd') &lt;= #{P_ANNC_ENDT_S}
		</if>
	</sql>
	
	
	<!--  
     * <pre>
     * 1. 개요 : 입찰정보 상세
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectBidInfoDetail
     * @date : 2015. 02. 23.
     * @author : 은우소프트 손연우
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 02. 23.       은우소프트 손연우              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidInfoDetail" resultType="dataEntity">
		SELECT	ONE.ANNC_NO
					,ONE.ANNC_NGR
					,TWO.ANNC_DT
					,ONE.BID_NM
					,ONE.BID_ENM
					,F_CDVAL_INQIRE('C00001', ONE.CONT_SECD) AS PRCURE_SE_NM
					,ONE.CONT_SECD
					,F_CDVAL_INQIRE('C00026', ONE.CONT_DECD) AS PRCURE_DETAIL_SE_NM
					,ONE.CONT_DECD
					,F_CDVAL_INQIRE('CONT_MTCD', ONE.CONT_MTCD) AS CNTRCT_MTH_NM
					,ONE.CONT_MTCD
					,F_CDVAL_INQIRE('C00006', ONE.SBID_MTCD) AS SCSBID_MTH_NM
					,ONE.SBID_MTCD
					,F_CDVAL_INQIRE('22035', ONE.ASSO_SPDM_CD) AS COPERTN_SPLDMD_DUTY_SE_NM
					,ONE.ASSO_SPDM_CD
					,ONE.BID_PSCD
					,ONE.ESTPC_SECD
					,ONE.ESTT_AMT
					,ONE.CONT_DECD
					,F_CDVAL_INQIRE('C00026', ONE.CONT_DECD) AS PRCURE_DETAIL_SE_NM
					,ONE.BID_RNG_CNTN
					,ONE.BID_SCOPE_ENG_CN
					,ONE.CNTRCTPD_CN
					,ONE.CNTRCTPD_ENG_CN
					,ONE.CONT_MTCD
					,ONE.SBID_MTCD
					,ONE.BASE_ESTPC_AMT
					,TWO.ANNC_DT
					,ONE.BRFS_DT
					,TWO.PRTC_APLY_STDT
					,TWO.PRTC_APLY_ENDT
					,TWO.TECHEVL_DOCSU_BEGIN_DT
					,TWO.TECHEVL_DOCSU_END_DT
					,TWO.BIDC_SBMT_STDT
					,TWO.BIDC_SBMT_ENDT
					,TWO.OPNG_DT
		FROM		T_BI_MST ONE
					,T_BI_ROUND TWO
		WHERE 	ONE.ANNC_NO = TWO.ANNC_NO
		AND		ONE.ANNC_NGR = TWO.ANNC_NGR
		AND		ONE.ANNC_NO = #{P_ANNC_NO}
		AND		ONE.ANNC_NGR = #{P_ANNC_NGR}
	</select>
	
	<sql id="bidDcPeoPartcptEntrpsList">
		SELECT
					 VEND_REG_NO
					,BIZRNO
					,VEND_NM
<!-- 					,ENTRPS_SE_CD -->
<!-- 					,F_CDVAL_INQIRE(22410, ENTRPS_SE_CD) AS ENTRPS_SE_NM -->
					,RPRS_NM
					  
		FROM VECI_PRCOEN2 ONE
	</sql>
	
	<sql id="bidDcPeoPartcptEntrpsWhere">
		<where>
			<if test='P_VEND_NM_S != null and P_VEND_NM_S != "" '>
				AND VEND_NM LIKE '%' ||#{P_VEND_NM_S}|| '%' 
			</if>
			<if test='P_ENTRPS_SE_CD_S != null and P_ENTRPS_SE_CD_S != "" '>
				AND ENTRPS_SE_CD = #{P_ENTRPS_SE_CD_S} 
			</if>
			<if test='P_BIZRNO_S != null and P_BIZRNO_S != "" '>
				AND BIZRNO = #{P_BIZRNO_S}
			</if>
			
		
		
		</where>
	</sql>
	
	
	<select id="selectCompnoPrdprcList" resultType="dataEntity">
	
		SELECT	 COPR.ANNC_NO
					,COPR.ANNC_NGR
					,COPR.PLR_ESTPC_NO
					,COPR.PREP_PRCE_AMT
					,COPR.DRLT_CNT
					,COPR.SLCT_YN
					,COPR.ESTPC_RNK
		FROM		 T_BI_PLRL_ESTC COPR
		WHERE		COPR.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		COPR.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		
	
	</select>
	
	
	<select id="selectLwetScsbidPrearngerList" resultType="dataEntity">
	
		SELECT
					 ROWNUM AS RNUM
					,(SELECT BIZRNO FROM VECI_PRCOEN2 WHERE VEND_REG_NO = NINE.VEND_REG_NO) AS BIZRNO
					,(SELECT VEND_NM FROM VECI_PRCOEN2 WHERE VEND_REG_NO = NINE.VEND_REG_NO) AS VEND_NM
					,(SELECT RPRS_NM FROM VECI_PRCOEN2 WHERE VEND_REG_NO = NINE.VEND_REG_NO) AS RPRS_NM
					,NINE.TNDR_AMT
					,(SELECT SUM(KOICA_EVL_SCORE) FROM  TEBI_PRJUEV WHERE VEND_REG_NO = NINE.VEND_REG_NO) AS KOICA_EVL_SCORE
					,SUBSTR(ROUND((NINE.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), 0, INSTR(ROUND((NINE.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), '.'))||RPAD(SUBSTR(ROUND((NINE.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), INSTR(ROUND((NINE.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), '.')+1, LENGTH(ROUND((NINE.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2))), 2, '0') AS BDDPR_RT
					,BID_VEND_PSCD
					,VEND_REG_NO
					
		FROM	 T_BI_VEND_MST NINE
				,T_BI_MST ONE
				,T_BI_ESTC_MST PRBI
		WHERE	NINE.ANNC_NO = ONE.ANNC_NO
		AND		NINE.ANNC_NGR = ONE.ANNC_NGR
		AND		NINE.ANNC_NO = PRBI.ANNC_NO(+)
		AND		NINE.ANNC_NGR = PRBI.ANNC_NGR(+)
		AND		NINE.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND	  	NINE.ANNC_NGR = #{P_ANNC_NGR, jdbcType=VARCHAR}
	
	</select>
	
	<select id="selectNtatScsbidPrearngerList" resultType="dataEntity">
	
		SELECT   ROWNUM AS RNUM
					,PRCOEN.BIZRNO
					,PRCOEN.VEND_NM
					,PRCOEN.VEND_REG_NO
					,PRCOEN.RPRS_NM
					,ENPAMA.TNDR_AMT
					,ENPAMA.BID_VEND_PSCD
					,SUBSTR(ROUND((ENPAMA.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), 0, INSTR(ROUND((ENPAMA.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), '.'))||RPAD(SUBSTR(ROUND((ENPAMA.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), INSTR(ROUND((ENPAMA.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2), '.')+1, LENGTH(ROUND((ENPAMA.TNDR_AMT/PRBI.SCH_PRCE_AMT)* 100,2))), 2, '0') AS BDDPR_RT
<!-- 					,NEPRJUDI.NTAT_PROPER_DSPTH_SE_CD -->
					,NEPRJUDI.NEGO_DT
					,ENPAMA.NT_ELGB_RSN
					,ENOP.SBID_YN
			
		 FROM T_BI_VEND_BIOP ENOP
				,T_BI_VEND_MST ENPAMA
				,T_BI_VEND_BIOP NEPRJUDI
				,VECI_PRCOEN2 PRCOEN
				,T_BI_ESTC_MST PRBI
		WHERE  	ENOP.VEND_REG_NO = PRCOEN.VEND_REG_NO
		AND		ENOP.VEND_REG_NO = ENPAMA.VEND_REG_NO
		AND		ENOP.ANNC_NO = ENPAMA.ANNC_NO
		AND 		ENOP.ANNC_NGR = ENPAMA.ANNC_NGR
		AND		ENOP.VEND_REG_NO = NEPRJUDI.VEND_REG_NO(+)
		AND		ENOP.ANNC_NO = NEPRJUDI.ANNC_NO(+)
		AND		ENOP.ANNC_NGR = NEPRJUDI.ANNC_NGR(+)
		AND		ENOP.ANNC_NO = PRBI.ANNC_NO
		AND		ENOP.ANNC_NGR = PRBI.ANNC_NGR
		AND		ENOP.ANNC_NO = #{P_ANNC_NO}
		AND		ENOP.ANNC_NGR = #{P_ANNC_NGR}
		ORDER BY CASE WHEN BID_ELCD = 'T' THEN 1 ELSE 2 END ASC
					 ,TNDR_AMT ASC
					 ,(ENPAMA.ESTM_SCR) DESC
	
	</select>
	
	
	<select id="selectEntrpsInfoDetail" resultType="dataEntity">
	
		SELECT	 PRCOEN.VEND_REG_NO
					,PRCOEN.VEND_NM
					,ENPAMA.NT_ELGB_RSN
					
		FROM		 VECI_PRCOEN2 PRCOEN
					,T_BI_VEND_MST ENPAMA
		WHERE	PRCOEN.VEND_REG_NO = #{P_VEND_REG_NO}
		AND		PRCOEN.VEND_REG_NO = ENPAMA.VEND_REG_NO
		AND		ENPAMA.ANNC_NO = #{P_ANNC_NO}
		AND		ENPAMA.ANNC_NGR = #{P_ANNC_NGR}
	
	</select>
	
	
	<select id="selectProperJdgmnEntrpsDetail" resultType="dataEntity">
	
		SELECT
				 BIPLMA.ANNC_NO
				,BIPLMA.ANNC_NGR
				,BIPLMA.BID_NM
				,BIPLMA.ESTT_AMT
				,PRCOEN.VEND_NM
		 		,PRCOEN.RPRS_NM
		FROM	 T_BI_MST BIPLMA
				,VECI_PRCOEN2 PRCOEN
		WHERE 1=1
		AND		BIPLMA.ANNC_NO = #{P_ANNC_NO}
		AND		BIPLMA.ANNC_NGR = #{P_ANNC_NGR}
		AND		PRCOEN.VEND_REG_NO = #{P_VEND_REG_NO}
	
	</select>
	
	
	<select id="selectMainBnsnList" resultType="dataEntity">
		
<!-- 		SELECT INDUTY_NM -->
<!-- 		FROM TECI_ENLI ENLI -->
<!-- 		WHERE 	ENLI.VEND_REG_NO = #{P_VEND_REG_NO} -->
<!-- 		AND		REPRSNT_INDUTY_AT = 'Y' -->
		SELECT 	CTT_NM AS INDUTY_NM
		FROM 	T_CO_CTT_ACQS ENLI
		WHERE 	ENLI.VEND_REG_NO = #{P_VEND_REG_NO}
	
	</select>
	
	<select id="selectBsnsPartcptnHistList" resultType="dataEntity">
	
		SELECT 	 
					 ROWNUM AS RNUM
					,BIPLMA.ANNC_NO
					,BIPLMA.ANNC_NGR
					,BIPLMA.BID_NM
					,ENOP.SBID_YN
					,CASE WHEN COMA.CONT_SECD = 'CT80' THEN 'Y'
							 ELSE 'N' 
							 END AS CNTRCT_COMPT_AT
		FROM  	 T_BI_VEND_BIOP ENOP
					,T_BI_MST BIPLMA
					,T_CT_MST COMA
		WHERE 	BIPLMA.ANNC_NO = ENOP.ANNC_NO
		AND		BIPLMA.ANNC_NGR = ENOP.ANNC_NGR
		AND		BIPLMA.ANNC_NO = COMA.ANNC_NO(+)
		AND		BIPLMA.ANNC_NGR = COMA.ANNC_NGR(+)
		AND		ENOP.VEND_REG_NO = #{P_VEND_REG_NO}
		ORDER BY BIPLMA.ANNC_NO DESC, BIPLMA.ANNC_NGR DESC
	
	</select>
	
	
	<update id="updateSucbidrSlctnBrdoResnRegist">
	
		UPDATE T_BI_VEND_MST SET
					NT_ELGB_RSN = #{P_NT_ELGB_RSN}
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE 	ANNC_NO = #{P_ANNC_NO}
		AND		ANNC_NGR = #{P_ANNC_NGR}
		AND		VEND_REG_NO = #{P_VEND_REG_NO}
	
	</update>
	
<!-- 	<select id="selectEntrpsJdgmnEvlList" resultType="dataEntity"> -->
<!-- 		SELECT    -->
<!-- 					 ROWNUM AS RNUM -->
<!-- 					,EVL_SN -->
<!-- 					,EVL_CN -->
<!-- 					,ALLOT_LMT_CN -->
<!-- 					,ENTRPS_EVL_SCORE -->
<!-- 					,KOICA_EVL_SCORE -->
<!-- 		FROM TEBI_PRJUEV -->
<!-- 		WHERE ANNC_NO = #{P_ANNC_NO} -->
<!-- 		AND		ANNC_NGR = #{P_ANNC_NGR} -->
<!-- 		AND		VEND_REG_NO = #{P_VEND_REG_NO} -->
<!-- 	</select> -->
	
	
	
	<update id="updateEntrpsPartcptnPrstUpdt">
	
		UPDATE T_BI_VEND_MST SET
					BID_VEND_PSCD = #{P_BID_VEND_PSCD}
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
	
	</update>
	
<!-- 	<update id="updateProperJdgmnEvlRegist"> -->
	
<!-- 		UPDATE TEBI_PRJUEV SET -->
		
<!-- 		ENTRPS_EVL_SCORE = #{P_ENTRPS_EVL_SCORE} -->
		
<!-- 		WHERE 	ANNC_NO = #{P_ANNC_NO} -->
<!-- 		AND	 	ANNC_NGR = #{P_ANNC_NGR} -->
<!-- 		AND		VEND_REG_NO = #{P_VEND_REG_NO} -->
<!-- 		AND		EVL_SN = #{P_EVL_SN} -->
		
		
		
	
<!-- 	</update> -->
	
	
	<select id="selectBidResultPrdprcChoiseEntrpsInqire" resultType="dataEntity">
	
		SELECT
				 ROWNUM AS RNUM
				,PRCOEN.VEND_NM
				,PRCOEN.RPRS_NM
				,PRCOEN.BIZRNO
		
		FROM T_BI_VEND_ESSE ENDRPR
			,VECI_PRCOEN2 PRCOEN
		WHERE ENDRPR.VEND_REG_NO = PRCOEN.VEND_REG_NO
		AND	  ENDRPR.ANNC_NO = #{P_ANNC_NO}
		AND	  ENDRPR.ANNC_NGR = #{P_ANNC_NGR}
		AND	  ENDRPR.PLR_ESTPC_NO = #{P_PLR_ESTPC_NO}
	
	
	</select>
	
	<select id="selectMyProperJdgmnDetail" resultType="dataEntity">
		SELECT 	BI.ANNC_NO
					,BI.ANNC_NGR
					,ROUND.ROUND_NO
					,BI.BID_NM
					,BI.CONT_SECD
					,F_CDVAL_INQIRE('CONT_SECD', BI.CONT_SECD ) AS CONT_SECD_NM
					,BI.CONT_DECD
					,F_CDVAL_INQIRE('CONT_DECD', BI.CONT_DECD ) AS CONT_DECD_NM
					,BI.ANNC_SECD
					,F_CDVAL_INQIRE('ANNC_SECD', BI.ANNC_SECD ) AS ANNC_SECD_NM
					,ROUND.ANNC_DT 
					,BIOP.NEGO_CNTN
					,BIOP.NEGO_DT
					,(	SELECT 	FILE_GRP_NO 
						FROM 	T_BI_VEND_FILE
						WHERE	ANNC_NO = VEND.ANNC_NO
						AND		ANNC_NGR = VEND.ANNC_NGR
						AND		ROUND_NO = VEND.ROUND_NO
						AND 		VEND_REG_NO = VEND.VEND_REG_NO
						AND		BID_TPI_SECD = 'OP04'
						AND		BID_SBMT_FSCD = 'DO06' ) AS FILE_GRP_NO
		FROM	 	T_BI_MST BI
					,T_BI_ROUND ROUND
					,T_BI_VEND_MST VEND
					,T_BI_VEND_BIOP BIOP
		WHERE 	BI.ANNC_NO = ROUND.ANNC_NO
		AND		BI.ANNC_NGR = ROUND.ANNC_NGR
		AND		ROUND.ANNC_NO = VEND.ANNC_NO
		AND		ROUND.ANNC_NGR = VEND.ANNC_NGR
		AND		ROUND.ROUND_NO = VEND.ROUND_NO
		AND		VEND.ANNC_NO = BIOP.ANNC_NO
		AND		VEND.ANNC_NGR = BIOP.ANNC_NGR
		AND		VEND.ROUND_NO = BIOP.ROUND_NO
		AND 		VEND.VEND_REG_NO = BIOP.VEND_REG_NO
		AND		VEND.BID_VEND_PSCD = 'OP07'
		AND		BIOP.NEGO_NTFC_YN = 'Y'
		AND		VEND.ANNC_NO = #{P_ANNC_NO}
		AND		VEND.ANNC_NGR = #{P_ANNC_NGR}
		AND		VEND.ROUND_NO = #{P_ROUND_NO}
		AND		VEND.VEND_REG_NO = #{P_VEND_REG_NO}
	</select>
	
</mapper>