<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 전자입찰 > 나의 참가신청 현황 Mapper
 *
 * <pre>
 * sqlmap.oda.oep.elbi 
 *    |_ OepElbiMyPartcptReqstSttusMapper.xml
 * 
 * </pre>
 * @date : 2015. 03. 10. 오후 05:43:21
 * @version : 1.0
 * @author : 은우소프트 하성윤
-->
<mapper namespace="com.eunwoosoft.opro.ebid.dao.OproEbidMyPartcptReqstSttusDao">	
	<!--  
     * <pre>
     * 1. 개요 : 나의 참가신청 현황 목록 조회_페이징 
     * 2. 처리내용 :
     *  	TABLE : T_BI_MST(입찰계획마스터)
     					,T_BI_ROUND(입찰시간정보)
     * </pre>
     * @Query ID : selectMyPartcptReqstSttusListWithPgng
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectMyPartcptReqstSttusListWithPgng" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT * FROM (
			<include refid="bidPblancList"/>
			<include refid="BidPblancWhere"/>
			ORDER BY REG_DT DESC, ANNC_NO DESC, ANNC_NGR DESC
		) T1
		WHERE 1 = 1
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 나의 참가신청 현황 목록 총건수조회 
     * 2. 처리내용 :
     *  	TABLE : T_BI_MST(입찰계획마스터)
     					,T_BI_ROUND(입찰시간정보)
     * </pre>
     * @Query ID : selectMyPartcptReqstSttusListTotcnt
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectMyPartcptReqstSttusListTotcnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="bidPblancList"/>
			<include refid="BidPblancWhere"/>
		) T1
		WHERE 1 = 1		
	</select>
	
	<sql id="bidPblancList">
		SELECT * FROM (
			SELECT	A.ANNC_NO
						,A.ANNC_NGR
						,A.BID_PSCD
						, F_CDVAL_INQIRE('BID_PSCD', A.BID_PSCD) AS BID_PSCD_NM
						, A.CONT_SECD
						, F_CDVAL_INQIRE('C00001', A.CONT_SECD) AS CONT_SECD_NM
						, BID_NM
						, ANNC_DT
						, PRTC_APLY_ENDT
						, CONT_MTCD
						, F_CDVAL_INQIRE('CONT_MTCD', CONT_MTCD) AS CONT_MTCD_NM
						, ESTT_AMT
						, REG_DT
						, PRCH_RQR_NO
						, A.EMRG_YN
						, C.BID_VEND_PSCD
						, C.VEND_REG_NO
			FROM 	T_BI_MST A
						, T_BI_ROUND B
						, T_BI_VEND_MST C
			WHERE	A.ANNC_NO = B.ANNC_NO
			AND		A.ANNC_NGR = B.ANNC_NGR
			AND		A.ANNC_NO = C.ANNC_NO
			AND		A.ANNC_NGR = C.ANNC_NGR
			AND		NVL(A.DEL_AT, 'N') != 'Y'
			AND		C.VEND_REG_NO = #{P_VEND_REG_NO}
			AND		A.BID_PSCD IN ('PF20','PF30','PF50')
			AND		C.BID_VEND_PSCD NOT IN('OP01')
			AND 		A.ANNC_NO != 'P2999-99999'
			UNION ALL
			SELECT	A.ANNC_NO
						,A.ANNC_NGR
						,A.BID_PSCD
						, F_CDVAL_INQIRE('BID_PSCD', A.BID_PSCD) AS BID_PSCD_NM
						, A.CONT_SECD
						, F_CDVAL_INQIRE('C00001', A.CONT_SECD) AS CONT_SECD_NM
						, BID_NM
						, ANNC_DT
						, PRTC_APLY_ENDT
						, CONT_MTCD
						, F_CDVAL_INQIRE('CONT_MTCD', CONT_MTCD) AS CONT_MTCD_NM
						, ESTT_AMT
						, REG_DT
						, PRCH_RQR_NO
						, A.EMRG_YN
						, C.BID_VEND_PSCD
						, C.VEND_REG_NO
			FROM 	T_BI_MST A
						, T_BI_ROUND B
						, T_BI_VEND_MST C
						, T_BI_VEND_ASSO D
			WHERE	A.ANNC_NO = B.ANNC_NO
			AND		A.ANNC_NGR = B.ANNC_NGR
			AND		A.ANNC_NO = C.ANNC_NO
			AND		A.ANNC_NGR = C.ANNC_NGR
			AND		A.ANNC_NO = D.ANNC_NO
			AND		A.ANNC_NGR = D.ANNC_NGR
			AND		C.VEND_REG_NO = D.VEND_REG_NO
			AND		C.VEND_REG_NO != D.ASSO_VEND_REG_NO
			AND		NVL(A.DEL_AT, 'N') != 'Y'
			AND		D.ASSO_VEND_REG_NO = #{P_VEND_REG_NO}
			AND		A.BID_PSCD IN ('PF20','PF30','PF50')
			AND		C.BID_VEND_PSCD NOT IN('OP01')
			AND 		A.ANNC_NO != 'P2999-99999'
		)
		
	</sql>
	
	<sql id="BidPblancWhere">
		WHERE 1=1
		<if test='P_BID_NM_S != null and P_BID_NM_S != "" '>
			AND BID_NM LIKE '%'||#{P_BID_NM_S}||'%'
		</if>
		<if test='P_CONT_SECD_S != null and P_CONT_SECD_S != "" '>
			AND CONT_SECD = #{P_CONT_SECD_S}
		</if>
		<if test='P_BID_PSCD_S != null and P_BID_PSCD_S != "" '>
			AND BID_PSCD = #{P_BID_PSCD_S}
		</if>
		<if test='P_PBLANC_BEGIN_DT_S != null and P_PBLANC_BEGIN_DT_S != "" '>
			AND ANNC_DT >= #{P_PBLANC_BEGIN_DT_S}
		</if>
		<if test='P_PBLANC_END_DT_S != null and P_PBLANC_END_DT_S != "" '>
			AND ANNC_DT &lt;= #{P_PBLANC_END_DT_S}
		</if>
		<if test='P_BID_LMT_BEGIN_AMOUNT_S != null and P_BID_LMT_BEGIN_AMOUNT_S != "" '>
			AND ESTT_AMT >= #{P_BID_LMT_BEGIN_AMOUNT_S}
		</if>
		<if test='P_BID_LMT_END_AMOUNT_S != null and P_BID_LMT_END_AMOUNT_S != "" '>
			AND ESTT_AMT &lt;= #{P_BID_LMT_END_AMOUNT_S}
		</if>
		<if test='P_BID_PSCD_S != null and P_BID_PSCD_S != "" '>
			AND BID_PSCD = #{P_BID_PSCD_S}
		</if>
	</sql>
	
	<!--  
     * <pre>
     * 1. 개요 : 나의 참가신청 현황 상세
     * 2. 처리내용 :
     *  	TABLE : T_BI_MST(입찰계획)
     					,T_BI_ROUND(입찰시간정보)
     * </pre>
     * @Query ID : selectMyPartcptReqstSttusDetail
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 01. 16.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectMyPartcptReqstSttusDetail" resultType="dataEntity">
		SELECT 	A.ANNC_NO
					, A.ANNC_NGR
					, A.BID_NM
					, A.EMRG_YN
					, FEBI_GET_CPRAT( A.EMRG_YN) AS EMRG_YN_NM
					, A.FNGR_BID_YN
					, FEBI_GET_CPRAT( A.FNGR_BID_YN) AS FNGR_BID_YN_NM
<!-- 					,  CARE_ESSNTL_AT -->
					, A.CONT_SECD
					, F_CDVAL_INQIRE('C00001', A.CONT_SECD) AS CONT_SECD_NM
					, A.CONT_DECD
					, F_CDVAL_INQIRE('C00026', A.CONT_DECD) AS CONT_DECD_NM
					, A.APTS_INC_YN
					, FEBI_GET_CPRAT( A.APTS_INC_YN) AS APTS_INC_YN_NM
					, A.ESTT_AMT
					, A.BID_RNG_CNTN
<!-- 					, A.CNTRCTPD_CN -->
					, A.ITNT_BID_YN
					, FEBI_GET_CPRAT( NVL(A.ITNT_BID_YN, 'N')) AS ITNT_BID_YN_NM
					, A.G2B_NTFY_YN
					, FEBI_GET_CPRAT( A.G2B_NTFY_YN) AS G2B_NTFY_YN_NM
					, A.CONT_MTCD
					, F_CDVAL_INQIRE('CONT_MTCD', A.CONT_MTCD) AS CONT_MTCD_NM
					, A.SBID_MTCD
					, F_CDVAL_INQIRE('C00006', A.SBID_MTCD) AS SBID_MTCD_NM
					, A.ESTPC_SECD
					, F_CDVAL_INQIRE('22079', A.ESTPC_SECD) AS ESTPC_SECD_NM
					, A.BRFS_SECD
					, F_CDVAL_INQIRE('22420', A.BRFS_SECD) AS BRFS_SECD_NM
					, A.ASSO_SPDM_CD
					, F_CDVAL_INQIRE('22035', A.ASSO_SPDM_CD) AS ASSO_SPDM_CD_NM
					, A.BRFS_PLC_NM
<!-- 					, A.PRTC_QLF_CNTN -->
<!-- 					, A.PRPR_MTH_CD -->
<!-- 					, F_CDVAL_INQIRE(22421, A.PRPR_MTH_CD) AS PRPR_MTH_CD_NM -->
<!-- 					, A.ONPR_ESSNTL_AT -->
<!-- 					, CASE WHEN A.ONPR_ESSNTL_AT = 'Y' THEN '필수' ELSE '필수아님' END AS ONPR_ESSNTL_AT_NM -->
					, A.ESTM_CHRGR_NM
					, A.CPDF_RT
<!-- 					, A.FLAW_FLFL_GTN_RT -->
<!-- 					, A.CRYMY_RT -->
					, A.ITEM_DRCD
					, F_CDVAL_INQIRE('C00013', A.ITEM_DRCD) AS ITEM_DRCD_NM
					, A.SUM_RTCD
					, F_CDVAL_INQIRE('SUM_RTCD', A.SUM_RTCD) AS SUM_RTCD_NM
					, A.DLGD_PLC_NM
					, A.DLGD_TE_CNTN
<!-- 					, A.INSTL_TMLMT_CN -->
					, A.BID_PSCD
					, A.SBID_LWST_RT
					, A.PRCH_RQR_NO
					, A.REGR_ID
					, A.RQSTR_ID
					, A.CHRGR_NM
					, A.CHRGR_DEPT_NM	
					, A.CHRGR_EMAL<!-- 암호화 -->
					, A.RQSTR_ID
					, A.RQSTR_NM
					, A.RQST_DEPT_NO
					, A.RQST_DEPT_NM
					, A.RQSTR_EMAL<!-- 암호화 -->
					, B.ANNC_DT
					, A.BRFS_DT
					, B.PRTC_APLY_STDT
					, B.PRTC_APLY_ENDT
					, B.BIDC_SBMT_STDT
					, B.BIDC_SBMT_ENDT
			        , B.OPNG_DT
			        , (SELECT BASE_ESTPC_AMT FROM T_BI_ESTC_MST PRBI WHERE PRBI.ANNC_NO = A.ANNC_NO AND PRBI.ANNC_NGR = A.ANNC_NGR) AS BASE_ESTPC_AMT
<!-- 			        , A.CARE_ESSNTL_AT -->
			        , TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS') SERVER_TIME
			        , C.BASE_ESTPC_AMT
			        , C.SCH_PRCE_AMT
<!-- 			        , A.BDDPR_DTSTMN_PRESENTN_AT -->
		FROM 	T_BI_MST A
					, T_BI_ROUND B
					, T_BI_ESTC_MST C
		WHERE	A.ANNC_NO = B.ANNC_NO
		AND		A.ANNC_NGR = B.ANNC_NGR
		AND		A.ANNC_NO = C.ANNC_NO(+)
		AND		A.ANNC_NGR = C.ANNC_NGR(+)
		AND		A.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		A.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
	</select>
			
	<!--  
     * <pre>
     * 1. 개요 : 입찰품목 목록 조회
     * 2. 처리내용 :
     *  	TABLE : T_BI_ITEM(입찰품목)
     * </pre>
     * @Query ID : selectBidPrdlstList
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidPrdlstList" resultType="dataEntity">
		SELECT	ANNC_NO
					,ANNC_NGR
					,ITEM_SN
					,ITEM_NO
					,ITEM_NM
					,STND_NM
					,ITEM_UNCD
					,ITEM_UNNM
					,ITEM_QTY
					,RQST_UNIT
					,SCH_UNIT
					,PRCE_UNCD
					,PRCE_UNNM
		FROM	T_BI_ITEM
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		ORDER BY ITEM_SN
	</select>
	
		<!--  
     * <pre>
     * 1. 개요 : 입찰 첨부문서 조회
     * 2. 처리내용 :
     *  	TABLE : T_BI_FILE(입찰첨부문서)
     * </pre>
     * @Query ID : selectBidAtchDocList
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidAtchDoc" resultType="dataEntity">
		SELECT  ANNC_NO
					, ANNC_NGR
					, BID_FSCD
					, FILE_GRP_NO
		FROM	T_BI_FILE
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		BID_FSCD = #{P_BID_FSCD, jdbcType=VARCHAR}
	</select>

	<!--  
     * <pre>
     * 1. 개요 : 공고알림정보 목록
     * 2. 처리내용 :
     *  	TABLE : TEBI_PUNO(공고알림정보)
     * </pre>
     * @Query ID : selectPblancNtcnInfoList
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
<!-- 	<select id="selectPblancNtcnInfoList" resultType="dataEntity"> -->
<!-- 		SELECT	ROWNUM -->
<!-- 					,ANNC_NO -->
<!-- 					, ANNC_NGR -->
<!-- 					, NTCN_SN -->
<!-- 					, BID_CHANGE_NTCN_CD -->
<!-- 					, NTCN_DE -->
<!-- 					, NTCN_RESN_CN -->
<!-- 					, REGR_ID -->
<!-- 					, REG_DT -->
<!-- 					, MODR_ID -->
<!-- 					, MOD_DT -->
<!-- 					, DEL_AT -->
<!-- 					, FIB_STEP_CD -->
<!-- 		FROM		TEBI_PUNO -->
<!-- 		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR} -->
<!-- 		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER} -->
<!-- 		AND		BID_CHANGE_NTCN_CD = #{P_BID_CHANGE_NTCN_CD, jdbcType=VARCHAR} -->
<!-- 		AND		ROWNUM = 1 -->
<!-- 		ORDER BY NTCN_SN DESC -->
<!-- 	</select> -->
	
	<!--  
     * <pre>
     * 1. 개요 : 입찰계획 진행상태 수정
     * 2. 처리내용 :
     *  	TABLE : T_BI_MST(입찰계획마스터)
     * </pre>
     * @Query ID : updatebidPlanProgrsSttusUpdt
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<update id="updatebidPlanProgrsSttusUpdt">
		UPDATE 	T_BI_MST
		SET		BID_PSCD = #{P_BID_PSCD, jdbcType=VARCHAR}
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
	</update>

	<!--  
     * <pre>
     * 1. 개요 : 업체 정보 조회
     * 2. 처리내용 :
     *  	TABLE : VECI_PRCOEN2(조달협력업체)
     * </pre>
     * @Query ID : selectEntrpsinfoinqire
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectEntrpsinfoinqire" resultType="dataEntity">
		SELECT 	A.VEND_REG_NO
					, A.BIZRNO
					, A.VEND_NM
			        , A.RPRS_NM
			        , A.ADDR_NM
			        , A.ADDR_DENM
		FROM		T_CU_MST A
		WHERE	A.VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
	</select>

	<!--  
     * <pre>
     * 1. 개요 : 입찰참가포기 신청서 상세
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_DTL(업체참여상세)
     * </pre>
     * @Query ID : selectBidPartcptAbandnReqstdocDatile
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidPartcptAbandnReqstdocDatile" resultType="dataEntity">
		SELECT 	ANNC_NO
					,ANNC_NGR
					,ROUND_NO
					,VEND_REG_NO
					,BID_ABND_YN
		FROM		T_BI_VEND_MST MST
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
		AND		BID_ABND_YN = 'Y'
	</select>

	<!--  
     * <pre>
     * 1. 개요 : 입찰참가포기 신청서 등록
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_DTL(업체참여상세)
     * </pre>
     * @Query ID : insertBidPartcptAbandnReqstdocRegist
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<insert id="insertBidPartcptAbandnReqstdocRegist" >
		INSERT INTO T_BI_VEND_DTL
		(
			ANNC_NO
			,ANNC_NGR
			,ROUND_NO
			,VEND_REG_NO
			,BID_TPI_SECD
			,TPI_DT
			,TPI_IP
			,CHRGR_NM
			,TEL_NO
			,CP_NO
			,EMAL_ADDR
			,CERT_INHR_VAL
			,ORG_VAL
			,SIGN_VAL
			,SSN_VKEY
			,ORG_HASH_VAL
			,CERT_DN
			,SIGN_DT
			,SIGN_IP
			,RMK
			<include refid="ComRegr.RegrColumnClause"/>
		)
		VALUES
		(
			#{P_ANNC_NO, jdbcType=VARCHAR}
			,#{P_ANNC_NGR, jdbcType=INTEGER}
			,#{P_ROUND_NO, jdbcType=INTEGER}
			,#{P_VEND_REG_NO, jdbcType=VARCHAR}
			,#{P_BID_TPI_SECD, jdbcType=VARCHAR}
			,#{P_TPI_DT, jdbcType=VARCHAR}
			,#{P_TPI_IP, jdbcType=VARCHAR}
			,#{P_CHRGR_NM, jdbcType=VARCHAR}
			,#{P_TEL_NO, jdbcType=VARCHAR}
			,#{P_CP_NO, jdbcType=VARCHAR}
			,#{P_EMAL_ADDR, jdbcType=VARCHAR}
			,#{P_CERT_INHR_VAL, jdbcType=VARCHAR}
			,#{P_ORG_VAL, jdbcType=VARCHAR}
			,#{P_SIGN_VAL, jdbcType=VARCHAR}
			,#{P_SSN_VKEY, jdbcType=VARCHAR}
			,#{P_ORG_HASH_VAL, jdbcType=VARCHAR}
			,#{P_CERT_DN, jdbcType=VARCHAR}
			,#{P_SIGN_DT, jdbcType=VARCHAR}
			,#{P_SIGN_IP, jdbcType=VARCHAR}
			,#{P_RMK, jdbcType=VARCHAR}
			<include refid="ComRegr.RegrValueClause"/>
		)
	</insert>
	
	<!--  
     * <pre>
     * 1. 개요 : 업체 진행상태 코드 수정
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_MST(업체참여마스터)
     * </pre>
     * @Query ID : updateEntrpsPartcptnPrstCdUpdt
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<update id="updateEntrpsPartcptnPrstCdUpdt" >
		UPDATE 	T_BI_VEND_MST SET
					BID_VEND_PSCD = #{P_BID_VEND_PSCD}
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
	</update>
	
	<!--  
     * <pre>
     * 1. 개요 : 복수예가 목록 조회
     * 2. 처리내용 :
     *  	TABLE : T_BI_PLRL_ESTC(복수예가정보)
     * </pre>
     * @Query ID : selectCompnoPrdprcList
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectCompnoPrdprcList" resultType="dataEntity">
		SELECT	ANNC_NO
					, ANNC_NGR
					, PLR_ESTPC_NO
					, PREP_PRCE_AMT
		FROM		T_BI_PLRL_ESTC
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 입찰설명회 정보 조회
     * 2. 처리내용 :
     *  	TABLE : T_BI_PLRL_ESTC(복수예가정보)
     * </pre>
     * @Query ID : selectBidDcPeoAtndncInfoInqire
     * @date : 2015. 04. 20.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 04. 20.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidDcPeoAtndncInfoInqire" resultType="dataEntity">
		SELECT	ANNC_NO
					, ANNC_NGR
					, VEND_REG_NO
					, REGR_ID
					, REG_DT
		FROM		T_BI_BRFS_VEND
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		VEND_REG_NO = #{P_VEND_REG_NO , jdbcType=VARCHAR}
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 업체 참여 상세 조회
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_DTL(업체참여상세)
     * </pre>
     * @Query ID : selectEntrpsPartcptnDetailInqire
     * @date : 2015. 04. 20.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 04. 20.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<select id="selectEntrpsPartcptnDetailInqire" resultType="dataEntity">
		SELECT	VM.ANNC_NO
					, VM.ANNC_NGR
					, VM.VEND_REG_NO
					, VD.BID_TPI_SECD
					, VD.TPI_DT
					, VD.TPI_IP
					, VD.CHRGR_NM
					, VD.TEL_NO
					, VD.CP_NO
					, VD.EMAL_ADDR
					, VD.REG_DT
					, VM.BID_ABND_RSN
		FROM		T_BI_VEND_MST VM
					, T_BI_VEND_DTL VD
		WHERE	VM.ANNC_NO = VD.ANNC_NO
		AND		VM.ANNC_NGR = VD.ANNC_NGR
		AND		VM.ROUND_NO = VD.ROUND_NO
		AND		VM.VEND_REG_NO = VD.VEND_REG_NO
		AND		VM.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		VM.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		VM.VEND_REG_NO = #{P_VEND_REG_NO , jdbcType=VARCHAR}
		AND		VD.BID_TPI_SECD = #{P_BID_TPI_SECD , jdbcType=VARCHAR}
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 업체 참여정보 수정
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_MST(업체참여정보)
     * </pre>
     * @Query ID : updateEntrpsPartcptnInfoUpdt
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<update id="updateEntrpsPartcptnInfoUpdt">
		UPDATE 	T_BI_VEND_MST
		SET		SSN_VKEY = #{P_SSN_VKEY , jdbcType=VARCHAR}
					,TNDR_AMT_ENC = #{P_TNDR_AMT_ENC , jdbcType=CLOB}
					,BID_VEND_PSCD = #{P_BID_VEND_PSCD , jdbcType=VARCHAR}
					,FILE_ONOF_YN = #{P_FILE_ONOF_YN , jdbcType=VARCHAR}
					,RE_TNDR_YN = 'N'
					,BID_ABND_YN = 'N'
					,BID_ABND_SPCD = ''
					,BID_ABND_RSN = ''
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE	ANNC_NO = #{P_ANNC_NO , jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR , jdbcType=INTEGER}
		AND	  	ROUND_NO = #{P_ROUND_NO , jdbcType=INTEGER}
		AND		VEND_REG_NO = #{P_VEND_REG_NO , jdbcType=VARCHAR}
	</update>
	
	<!--  
     * <pre>
     * 1. 개요 : 업체 참여정보 투찰금액 수정 - 수의용
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_MST(업체참여정보)
     * </pre>
     * @Query ID : "updateEntrpsPartcptnInfoTndrAmtUpdt"
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<update id="updateEntrpsPartcptnInfoTndrAmtUpdt">
		UPDATE 	T_BI_VEND_MST
		SET		MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					,TNDR_AMT = #{P_TNDR_AMT , jdbcType=CLOB}
		WHERE	ANNC_NO = #{P_ANNC_NO , jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR , jdbcType=INTEGER}
		AND	  	ROUND_NO = #{P_ROUND_NO , jdbcType=INTEGER}
		AND		VEND_REG_NO = #{P_VEND_REG_NO , jdbcType=VARCHAR}
	</update>	
	
	<!--  
     * <pre>
     * 1. 개요 : 투찰 품목 정보 등록
     * 2. 처리내용 :
     *  	TABLE : T_BI_TNDR_ITEM(투찰품목정보)
     * </pre>
     * @Query ID : insertBddprPrdlstInfoRegist
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<insert id="insertBddprPrdlstInfoRegist">
		INSERT INTO T_BI_TNDR_ITEM
		(
			ANNC_NO
			,ANNC_NGR
			,ROUND_NO
			,VEND_REG_NO
			,ITEM_SN
			,ITEM_UNIT_AMT
			,ITEM_UNIT_ENC
			,SSN_VKEY
			<include refid="ComRegr.RegrColumnClause"/>
		)
		VALUES
		(
			#{P_ANNC_NO , jdbcType=VARCHAR}
			,#{P_ANNC_NGR , jdbcType=INTEGER}
			,#{P_ROUND_NO, jdbcType=INTEGER}
			,#{P_VEND_REG_NO, jdbcType=VARCHAR}
			,#{P_ITEM_SN, jdbcType=INTEGER}
			,#{P_ITEM_UNIT_AMT, jdbcType=INTEGER}
			,#{P_ITEM_UNIT_ENC, jdbcType=VARCHAR}
			,#{P_SSN_VKEY, jdbcType=VARCHAR}
			<include refid="ComRegr.RegrValueClause"/>
		)
	</insert>
	
	<!--  
     * <pre>
     * 1. 개요 : 업체추첨예가 등록
     * 2. 처리내용 :
     *  	TABLE : T_BI_VEND_ESSE(업체추첨예가)
     * </pre>
     * @Query ID : insertEntrpsDrwtPrdprcRegist
     * @date : 2015. 03. 10.
     * @author : 은우소프트 하성윤
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2015. 03. 10.       은우소프트 하성윤              최초 작성 
     *  =======================================================   
     -->
	<insert id="insertEntrpsDrwtPrdprcRegist">
		INSERT INTO T_BI_VEND_ESSE
		(
			ANNC_NO
			,ANNC_NGR
			,ROUND_NO
			,VEND_REG_NO
			,PLR_ESTPC_NO
			<include refid="ComRegr.RegrColumnClause"/>
		)
		VALUES
		(
			#{P_ANNC_NO , jdbcType=VARCHAR}
			,#{P_ANNC_NGR , jdbcType=INTEGER}
			,#{P_ROUND_NO , jdbcType=INTEGER}
			,#{P_VEND_REG_NO , jdbcType=VARCHAR}
			,#{P_PLR_ESTPC_NO , jdbcType=VARCHAR}
			<include refid="ComRegr.RegrValueClause"/>
		)
	</insert>
	
	<!-- 	입찰 포기 -->
	<update id="updateVendBidAbndUpdt">
		UPDATE 	T_BI_VEND_MST SET
					BID_ABND_SPCD = BID_VEND_PSCD
					,BID_VEND_PSCD = #{P_BID_VEND_PSCD, jdbcType=VARCHAR}
					,BID_ABND_YN = #{P_BID_ABND_YN, jdbcType=VARCHAR}
					,BID_ABND_RSN = #{P_BID_ABND_RSN, jdbcType=VARCHAR}
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
	</update>
	
	<update id="updateVendUserDlgtNUpdt">
		UPDATE	T_CU_USER
		SET		DLGT_YN = 'N'
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE	VEND_REG_NO = #{P_VEND_REG_NO}
	</update>
	
	<select id="selectVendUserSn" resultType="dataEntity">
		SELECT 	USR_SN
		FROM	T_CU_USER
		WHERE	VEND_REG_NO = #{P_VEND_REG_NO}
		AND		USR_NM	= #{P_USR_NM}
	</select>
	
	<insert id="insertVendUserRegist">
		<selectKey keyProperty="P_USR_SN" resultType="int" order="BEFORE">
			SELECT 	NVL(MAX(TO_NUMBER(USR_SN))+1, 1)
			FROM 	T_CU_USER
			WHERE	VEND_REG_NO = #{P_VEND_REG_NO}			
		</selectKey>
		INSERT INTO T_CU_USER(
			VEND_REG_NO
			,USR_SN
			,USR_NM
			,TEL_NO
			,EMAL_ADDR
			,DLGT_YN
			<include refid="ComRegr.RegrColumnClause"/>
		)VALUES(
			#{P_VEND_REG_NO}
			,#{P_USR_SN}
			,#{P_USR_NM}
			,#{P_TEL_NO}
			,#{P_EMAL_ADDR}
			,'Y'
			<include refid="ComRegr.RegrValueClause"/>
		)
	</insert>
	
	<update id="updateVendUserUpdt">
		UPDATE	T_CU_USER
		SET		USR_NM = #{P_USR_NM}
					,TEL_NO = #{P_TEL_NO}
					,EMAL_ADDR = #{P_EMAL_ADDR}
					,DLGT_YN = 'Y'
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
					<include refid="ComRegr.ModrSetClause"/>
		WHERE	VEND_REG_NO = #{P_VEND_REG_NO}
		AND		USR_SN	= #{P_USR_SN}
	</update>
	
	<delete id="deleteVendDtlDel">
		DELETE	T_BI_VEND_DTL
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
		<if test=' P_BID_TPI_SECD != null and P_BID_TPI_SECD != "" '>
		AND		BID_TPI_SECD = #{P_BID_TPI_SECD}
		</if>
		<if test=' P_BID_TPI_SECD_NOT != null and P_BID_TPI_SECD_NOT != "" '>
		AND		BID_TPI_SECD != #{P_BID_TPI_SECD_NOT}
		</if>
	</delete>
	
	<delete id="deleteVendEsseDel">
		DELETE	T_BI_VEND_ESSE
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
	</delete>
	
	<delete id="deleteTndrItemDel">
		DELETE	T_BI_TNDR_ITEM
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
	</delete>
	
	<delete id="deleteVendGrntDel">
		DELETE	T_BI_VEND_GRNT
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
	</delete>
	
	<delete id="deleteVendFileDel">
		DELETE	T_BI_VEND_FILE
		WHERE 	ANNC_NO =#{P_ANNC_NO}
		AND	  	ANNC_NGR = #{P_ANNC_NGR}
		AND	  	ROUND_NO = #{P_ROUND_NO}
		AND	  	VEND_REG_NO = #{P_VEND_REG_NO}
		<if test='P_BID_TPI_SECD != null and P_BID_TPI_SECD != "" '>
			AND		BID_TPI_SECD = #{P_BID_TPI_SECD}
		</if>
		<if test='P_BID_SBMT_FSCD != null and P_BID_SBMT_FSCD != "" '>
			AND		BID_SBMT_FSCD = #{P_BID_SBMT_FSCD}
		</if>
	</delete>
	
	<select id="selectDatpList" resultType="dataEntity">
		SELECT 	ANNC_NO
					,ANNC_NGR
					,ROUND_NO
					,TPI_SN
					,VEND_REG_NO
					,VEND_REG_NO_ENC
					,TNDR_AMT
					,REG_DT
		FROM	T_BI_DATP_MST MST
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		ORDER BY	TPI_SN DESC 		
	</select>
	
	<insert id="insertDatpMst">
		<selectKey keyProperty="P_TPI_SN" resultType="int" order="BEFORE">
			SELECT 	NVL(MAX(TO_NUMBER(TPI_SN))+1, 1)
			FROM 	T_BI_DATP_MST
			WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
			AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
			AND		ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		</selectKey>
		INSERT INTO T_BI_DATP_MST(
			ANNC_NO
			,ANNC_NGR
			,ROUND_NO
			,TPI_SN
			,VEND_REG_NO_ENC
			,VEND_REG_NO
			,BID_VEND_PSCD
			,TNDR_AMT
			,SBID_YN
			,SBID_AMT
			,SBID_DT
			,OPNG_IP
			,OPNG_RNK
			,FILE_GRP_NO
			,REG_DT
			,MOD_DT
			,CONN_IP
		)VALUES(
			#{P_ANNC_NO, jdbcType=VARCHAR}
			,#{P_ANNC_NGR, jdbcType=INTEGER}
			,#{P_ROUND_NO, jdbcType=INTEGER}
			,#{P_TPI_SN, jdbcType=INTEGER}
			,#{P_VEND_REG_NO_ENC, jdbcType=VARCHAR}
			,''
			,'OP04'
			,#{P_TNDR_AMT, jdbcType=INTEGER}
			,#{P_SBID_YN, jdbcType=VARCHAR}
			,#{P_SBID_AMT, jdbcType=INTEGER}
			,#{P_SBID_DT, jdbcType=VARCHAR}
			,#{P_OPNG_IP, jdbcType=VARCHAR}
			,#{P_OPNG_RNK, jdbcType=VARCHAR}
			,#{P_FILE_GRP_NO, jdbcType=VARCHAR}
			,TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
			,TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
			,#{CONN_IP, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="selectDatpRegistCnt" resultType="int">
		SELECT COUNT(1)
		FROM	T_BI_DATP_MST
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		VEND_REG_NO_ENC = #{P_VEND_REG_NO_ENC, jdbcType=VARCHAR}
	</select>
	
	<update id="updateDatpTndrAmt">
		UPDATE	T_BI_MST
		SET		TNDR_PSBL_AMT = #{P_TNDR_PSBL_AMT, jdbcType=INTEGER}
					,MOD_DT = TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')
		WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
	</update>
	
	<select id="selectDatpLastAmt" resultType="dataEntity">
		SELECT ROWNUM, A.*
		FROM(	SELECT TNDR_AMT
					FROM	T_BI_DATP_MST
					WHERE	ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
					AND		ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
					AND		ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER} 
					ORDER BY TNDR_AMT ASC ) A
		WHERE ROWNUM = 1
	</select>
	
	<update id="updateBiRound">
		UPDATE 	T_BI_ROUND
		SET			BIDC_SBMT_ENDT = TO_CHAR(SYSDATE, 'yyyyMMddHH24')||'0000'
		WHERE		ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND			ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND			ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER} 
	</update>
	
	<!--  
     * <pre>
     * 1. 개요 : 업체 투찰내역 마스터 조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectMyPartcptTndrInfo
     * @date : 2019. 02. 19.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 19.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->	
     <select id="selectMyPartcptTndrInfo" resultType="dataEntity">
        SELECT D.CHRGR_NM
                  , D.TEL_NO
                  , D.EMAL_ADDR
                  , C.TNDR_AMT
                  , D.BID_TPI_SECD
           FROM T_BI_VEND_MST C
                  , T_BI_VEND_DTL D
     	WHERE	1=1
     	AND		C.ANNC_NO = D.ANNC_NO
     	AND		C.ANNC_NGR = D.ANNC_NGR
     	AND		C.ROUND_NO = D.ROUND_NO
     	AND		C.VEND_REG_NO = D.VEND_REG_NO
     	AND		D.BID_TPI_SECD = #{P_BID_TPI_SECD, jdbcType=VARCHAR}
		AND		C.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		C.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		C.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		C.VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR} 
     </select>
     
	<!--  
     * <pre>
     * 1. 개요 : 업체 예가선택 정보 조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectMyPartcptEsseInfo
     * @date : 2019. 02. 19.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 19.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->	
     <select id="selectMyPartcptEsseInfo" resultType="dataEntity">
     	SELECT	D.PLR_ESTPC_NO
     	FROM		T_BI_VEND_ESSE D
     	WHERE	1=1
		AND		D.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		D.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		D.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		D.VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR} 
     </select>     
     
	<!--  
     * <pre>
     * 1. 개요 : 업체 투찰품목정보조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectMyPartcptTndrItemInfo
     * @date : 2019. 02. 19.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 19.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->
     <select id="selectMyPartcptTndrItemInfo" resultType="dataEntity">
     	SELECT	B.ITEM_NO
     				, B.ITEM_NM
     				, B.STND_NM
     				, B.ITEM_UNCD
     				, B.ITEM_UNNM
     				, B.ITEM_QTY
     	FROM		T_BI_ITEM B
     				, T_BI_TNDR_ITEM C
     	WHERE	1=1
     	AND		B.ANNC_NO = C.ANNC_NO
     	AND		B.ANNC_NGR = C.ANNC_NGR
     	AND		B.ITEM_SN = C.ITEM_SN
		AND		A.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		A.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		C.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		C.VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR} 
     </select>
     
	<!--  
     * <pre>
     * 1. 개요 : 업체 투찰 파일 그룹번호 조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectMyPartcptVendFileInfo
     * @date : 2019. 02. 20.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 20.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->
     <select id="selectMyPartcptVendFileInfo" resultType="dataEntity">
     	SELECT	C.ANNC_NO
					, C.ANNC_NGR
					, C.ROUND_NO
					, C.VEND_REG_NO
					, C.BID_TPI_SECD
					, C.BID_SBMT_FSCD
					, C.FILE_GRP_NO
     	FROM		T_BI_VEND_FILE C
     	WHERE	1=1
		AND		C.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		C.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		C.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		C.VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
		AND		C.BID_TPI_SECD = #{P_BID_TPI_SECD, jdbcType=VARCHAR}
		AND		C.BID_SBMT_FSCD = #{P_BID_SBMT_FSCD, jdbcType=VARCHAR}
     </select>
     
	<!--  
     * <pre>
     * 1. 개요 : 업체 보증서 정보 조회
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectMyPartcptGrntInfo
     * @date : 2019. 02. 21.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 21.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->
     <select id="selectMyPartcptGrntInfo" resultType="dataEntity">
     	SELECT	D.ANNC_NO
					, D.ANNC_NGR
					, D.ROUND_NO
					, D.VEND_REG_NO
					, D.GRNT_SN
					, D.BIDGR_SECD
					, F_CDVAL_INQIRE('BIDGR_SECD', D.BIDGR_SECD) AS BIDGR_SECD_NM
					, D.BIDGR_NO
					, D.BIDGR_AMT
					, D.FILE_GRP_NO
					, D.RMK
					, D.BIDGR_AGNM
					, D.BIDGR_STDE
					, D.BIDGR_ENDE
					, D.BID_VEND_SECD
					, F_CDVAL_INQIRE('BID_VEND_SECD', D.BID_VEND_SECD) AS BID_VEND_SECD_NM
     	FROM		T_BI_VEND_GRNT D
     	WHERE	1=1
		AND		D.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		D.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		D.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		D.VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
     </select>
     
     
     <!--  
     * <pre>
     * 1. 개요 : 2단계경쟁 제안서/규격서 검토 적합/부적합 여부
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectBidEstmElcdYn
     * @date : 2019. 08. 13.
     -->
     <select id="selectBidEstmElcdYn" resultType="dataEntity">
        SELECT VEND_MST.ANNC_NO
                  , VEND_MST.ANNC_NGR
                  , VEND_MST.ROUND_NO
                  , VEND_MST.BID_ELCD
                  , VEND_MST.VEND_REG_NO
                  , CU_MST.VEND_NM
                  , CU_MST.BIZRNO
                  , CU_MST.RPRS_NM
                  , VEND_GRNT.BIDGR_AMT
                  , VEND_GRNT.BIDGR_SECD
                  , F_CDVAL_INQIRE('BIDGR_SECD', VEND_GRNT.BIDGR_SECD) AS BIDGR_SECD_NM
                  , VEND_MST.BID_ABND_YN
                  , VEND_MST.BID_VEND_PSCD
                  , VEND_MST.ESTM_SCR
                  , VEND_MST.ESTM_SCR * (10/ (
																SELECT	TCHN_SCR_RT
																FROM 	T_BI_MST
																WHERE	ANNC_NO = VEND_MST.ANNC_NO
																AND		ANNC_NGR = VEND_MST.ANNC_NGR) ) AS ESTM_SCR_BASE
                  , VEND_MST.ESTM_ELCD
                  , F_CDVAL_INQIRE('ESTM_ELCD', VEND_MST.ESTM_ELCD) AS ESTM_ELCD_NM
                  , VEND_MST.NT_ELGB_RSN
                  , VEND_DTL.BID_TPI_SECD
                  , VEND_DTL.CHRGR_NM
                  , VEND_DTL.TEL_NO
                  , VEND_DTL.EMAL_ADDR
                  , VEND_DTL.SIGN_DT
                  , (	SELECT FILE_GRP_NO
						FROM	T_BI_VEND_FILE
						WHERE	ANNC_NO = VEND_MST.ANNC_NO
						AND		ANNC_NGR = VEND_MST.ANNC_NGR
						AND		ROUND_NO = VEND_MST.ROUND_NO
						AND		VEND_REG_NO = VEND_MST.VEND_REG_NO
						AND		BID_TPI_SECD = 'OP03'
						AND		BID_SBMT_FSCD = 'DO02') AS FILE_GRP_NO
           FROM T_BI_VEND_MST VEND_MST
                  , T_BI_VEND_DTL VEND_DTL
                  , T_BI_VEND_GRNT VEND_GRNT
                  , T_CU_MST CU_MST
		WHERE 	1=1
		AND VEND_MST.ANNC_NO = VEND_DTL.ANNC_NO
		AND VEND_MST.ANNC_NGR = VEND_DTL.ANNC_NGR
		AND VEND_MST.ROUND_NO = VEND_DTL.ROUND_NO
		AND VEND_MST.VEND_REG_NO =  VEND_DTL.VEND_REG_NO
		AND VEND_MST.ANNC_NO = VEND_GRNT.ANNC_NO(+)
		AND VEND_MST.ANNC_NGR = VEND_GRNT.ANNC_NGR(+)
		AND VEND_MST.ROUND_NO = VEND_GRNT.ROUND_NO(+)
		AND VEND_MST.VEND_REG_NO =  VEND_GRNT.VEND_REG_NO(+)
		AND VEND_MST.VEND_REG_NO =  CU_MST.VEND_REG_NO
		AND VEND_GRNT.GRNT_SN(+) = 1
		AND VEND_MST.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND VEND_MST.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND VEND_MST.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND NVL(VEND_MST.BID_ABND_YN,'N') = 'N'
		AND VEND_DTL.BID_TPI_SECD= 'OP05'
		AND VEND_MST.VEND_REG_NO =#{P_VEND_REG_NO, jdbcType=VARCHAR}
     </select>
     
     <select id="selectVendChrgrInfoDetail" resultType="dataEntity">
        SELECT VEND_REG_NO
                  , USR_SN
                  , USR_NM
                  , USR_ENM
                  , TEL_NO
                  , CP_NO
                  , FX_NO
                  , ZIP
                  , ADDR_NM
                  , ADDR_DENM
                  , ADDR_ENM
                  , EMAL_ADDR
                  , USR_STCD
                  , DEPT_NO
                  , DEPT_NM
                  , ODCD
                  , ODNM
                  , OPCD
                  , OPNM
                  , USR_TYCD
                  , MNGR_YN
                  , USE_YN
                  , FNGR_REG_YN
                  , LT_CONN_DT
                  , REGR_ID
                  , REGR_NM
                  , REG_DT
                  , MODR_ID
                  , MODR_NM
                  , MOD_DT
                  , CONN_IP
                  , DEL_AT
                  , DLGT_YN
           FROM T_CU_USER
        WHERE 1=1
            AND VEND_REG_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
            <if test='P_USR_SN != null and P_USR_SN != "" '>
            AND USR_SN = #{P_USR_SN} 
            </if>
            AND DEL_AT = 'N'
	</select>
	
	<select id="selectSbjNoList" resultType="dataEntity">
        SELECT PCH_DMND_NO
                  , SBJT_NO
                  , ORGN_NM
                  , BUSIR_NO
                  , SBJTRP_CPNT
           FROM V_RM_PCHDMNDRMS
        WHERE 1=1
        AND PCH_DMND_NO IN ( SELECT PCRQ_NO FROM T_BI_ITEM WHERE ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR} AND ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER} )
        AND BUSIR_NO = #{P_VEND_REG_NO, jdbcType=VARCHAR}
	</select>
	
</mapper>