<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eunwoosoft.comm.atfi.dao.ComAtfiAtchFileDao">

	<!--  다음 첨부파일 그룹번호 조회-->
	<select id="selectNextAtchFileGroupSnInqire" resultType="long">
		SELECT 1 FROM DUAL
	</select>
	
	<!--  다음 첨부파일 그룹번호 조회-->
	<select id="selectNextAtchFileSnInqire" resultType="long">
		SELECT NVL(MAX(ATCHMNFL_SN+1), 1) FROM TMDM_ATFI
	</select>
	
	
	<!--  첨부파일목록조회_페이징-->
	<select id="selectAtchFileListInqireWithPgng" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT <include refid="selectAtchFile_Select_Clause"/> 
		FROM TMDM_ATFI T1
		<include refid="selectAtchFile_Where_Clause"/>
		ORDER BY T1.REGIST_DT DESC
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	<!--  첨부파일목록조회 총건수-->
	<select id="selectAtchFileListInqireTotcnt" resultType="long">
		SELECT COUNT(1) 
		FROM TMDM_ATFI T1
		<include refid="selectAtchFile_Where_Clause"/>
	</select>
	
	<!--  첨부파일상세조회-->
	<select id="selectAtchFileDetailInqire" resultType="dataEntity">
		SELECT <include refid="selectAtchFile_Select_Clause"/> 
		FROM TMDM_ATFI T1
		WHERE T1.ATCHMNFL_SN = #{P_ATCHMNFL_SN, jdbcType=VARCHAR}
		AND (T1.DELETE_AT != 'Y' OR T1.DELETE_AT IS NULL)
	</select>
	
	<!--  첨부파일그룹일련번호에 의한 첨부파일목록조회-->
	<select id="selectAtchFileListInqireByAtchFileGroupNo" resultType="dataEntity">
		SELECT	<include refid="selectAtchFile_Select_Clause"/>
		FROM		T_MM_FILE_MST T1
		WHERE	1=1
		AND		T1.FILE_GRP_NO = #{P_ATCHMNFL_GROUP_NO, jdbcType=VARCHAR}
		AND		NVL(T1.DEL_AT,'N') != 'Y'
	</select>

	<!--  첨부파일그룹일련번호에 의한 첨부파일목록조회-->
	<select id="selectAtchFileListInqireByAtchFileGroupNoExtern" resultType="dataEntity">
		SELECT <include refid="selectAtchFile_Select_Clause"/>
		FROM TPPO_ATFI T1
		WHERE T1.ATCHMNFL_GROUP_NO = #{P_ATCHMNFL_GROUP_NO, jdbcType=VARCHAR}	
		AND (T1.DELETE_AT != 'Y' OR T1.DELETE_AT IS NULL)
	</select>
		
	<!--  첨부파일 삭제-->
	<!-- 
	<delete id="deleteAtchFileDelete">
		SELECT 1 FROM DUAL
	</delete>
	-->
	 
<!-- 	<delete id="deleteAtchFileDelete">
		DELETE FROM TMDM_ATFI T1
		WHERE T1.ATCHMNFL_SN in ( 
				<foreach separator="," item="file" collection="fileList">
				#{file.P_ATCHMNFL_SN, jdbcType=VARCHAR}
				</foreach>
				)
	</delete> -->
			<!--  첨부파일 삭제-->
	<update id="deleteAtchFileDelete">
		UPDATE	TMDM_ATFI T1 
		     SET	DELETE_AT = 'Y'
		WHERE T1.ATCHMNFL_SN in ( 
				<foreach separator="," item="file" collection="fileList">
				#{file.P_ATCHMNFL_SN, jdbcType=VARCHAR}
				</foreach>
				)
	</update>
	
	
	<!-- 사용자조회 Select 절 -->
	<sql id="selectAtchFile_Select_Clause">
		FILE_GRP_NO
		, FILE_SN
		, ATCH_FSCD
		, TSK_SECD
		, SV_FILE_NM
		, SYS_FILE_NM
		, FILE_LCTN
		, FILE_DOC_NM
		, FILE_DOC_SECD
		, FILE_SZ
		<!--  
		, REGR_ID
		-->
		, REGR_NM
		, REG_DT
	</sql>
	
	<sql id="selectAtchFile_Where_Clause">
		<where>	
			<if test='P_ATCHMNFL_NM != null and P_ATCHMNFL_NM != "" '>
			    AND T1.ATCHMNFL_NM = #{P_ATCHMNFL_NM, jdbcType=VARCHAR}
			</if>			
		</where>
	</sql>
	
	
</mapper>