@charset "utf-8";

/*header*/
#panelHeader{
    width: 100%;
    position: relative;
    float: left;
	margin-bottom:20px;
}

/*sta*/
#panelHeader .staWrap{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f6f6f6;
}
#panelHeader .staWrap .sta{
    width: 1250px;
    height: 35px;
    margin: 0 auto;
}
#panelHeader .sta .staLeftBtns{
    float: left;
}
#panelHeader .sta .staLeftBtns a{
    float:left;
    background-repeat:no-repeat;
    width: 47px;
    height: 36px;
    background-image: url('../../../images/opro/login/socialBtn.png');
    text-indent: -9999px;
}
#panelHeader .sta .staLeftBtns a:hover , #panelHeader .sta .staLeftBtns a.on{
    background-position-y: -36px;
    -ms-background-position-y: -36px;
}
#panelHeader .sta .staLeftBtns a.home{
    background-position-x: 0;
    -ms-background-position-x: 0;
}

#panelHeader .sta .staRightBtns{
    float: right;
}
#panelHeader .sta .staRightBtns ul{
     float:left;
    margin-top: 9px;
}
#panelHeader .sta .staRightBtns li{
    float:left;
    padding:0 5px;
    background-image: url('../images/bar_util.png');
    background-position: right center;
    background-repeat: no-repeat ;
}
#panelHeader .sta .staRightBtns li.last{
    padding-right:0;
    background-image: none;
}
#panelHeader .sta .staRightBtns .allMenu{
    float:left;
    position:relative;
    margin-left:10px;
}
#panelHeader .sta .staRightBtns .allMenu a.allMenuBtn{
    background-image: url('../images/btnAllMenu.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 75px;
    height: 23px;
    display:block;
    text-indent: -9999px;
    margin-top:6px;
}
#panelHeader .sta .staRightBtns .allMenu a.allMenuBtn.on , #panelHeader .sta .staRightBtns .allMenu a.allMenuBtn:hover{
    background-position: 0 -23px;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer{
    position:absolute;
    top:32px;
    right:0px;
    width:451px;
    border:2px solid #017ac3;
    background-color: white;
    z-index: 10;
    padding:10px 0;
    display: none;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer .menuLayerLeft{
    float: left;
    padding-left: 20px;
    width:205px;
    height:390px;
    border-right: 1px solid #a7c1d0;

}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer .menuLayerRight{
    padding-left: 20px;
    width:205px;
    float: left;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer p.menuTitle{
    font: 16px "NanumGothicBold", NanumGothicBold, Dotum, "NanumGothic", Arial, sans-serif;
    padding-left: 10px;
    background-image: url('../images/bul_pop.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin:5px 0;
    float: left;
    width:225px;
    clear: both;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer li{
    margin-bottom: 7px;
    background-image: none;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer li a{
    width:225px;
    float: left;
    font: 12px "NanumGothicBold", NanumGothicBold, Dotum, "NanumGothic", Arial, sans-serif;
    padding-left: 10px;
    background-image: url('../images/bul_square1.png');
    background-repeat: no-repeat;
    background-position: left center;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer .sub{
    margin-top:5px;
}
#panelHeader .sta .staRightBtns .allMenu .allMenuLayer .sub li a{
    margin-left: 10px;
    width:205px;
    color:#6f6f6f;
}
#panelHeader .sta .staTimeLayer {
    float: left;
    background-image: url('../images/bul_clock.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 30px;
    color: #f16301;
    height: 21px;
    line-height: 23px;
    margin-top: 7px;
    margin-right: 15px;
}
/*sta*/

/*search*/
#panelHeader .searchFormWrap{
    width: 100%;
    height: 98px;
    background-color: white;
}
#panelHeader .searchForm{
    width: 1250px;
    height: 98px;
    margin : 0 auto;
    position: relative;
}
#panelHeader .searchForm h1{
    position: absolute;
    top:18px;
    left:324px;
}
#panelHeader .searchForm .srch{
    position:absolute;
    top: 18px;
    left: 450px;
    width: 413px;
    height: 30px;
    border:4px solid #007ac3;
}
#panelHeader .searchForm .srch .keyword{
    float:left;
    border:none;
    width: 288px;
    height: 30px;
    font-size:12px;
    line-height: 12px;
    padding-left:15px;
}
#panelHeader .searchForm .srch .srchBtn{
    position: absolute;
    top: -5px;
    left: 428px;
}

#panelHeader .qu_txt{
    position: absolute;
    top: 62px;
    left: 451px;
    width: 419px;
}
#panelHeader .qu_txt ul{
    overflow: hidden;
    width:384px;
    height: 20px;
    float:left;
}
#panelHeader .qu_txt ul li{
    padding:0 0 0 7px;
    margin:0  0 0 7px;
    background-image: url('../images/bar_util.png');
    background-position: left center;
    background-repeat: no-repeat;
}
#panelHeader .qu_txt ul li.noBg{
    background-image: none;
    padding:0;
    margin:0;
}
#panelHeader .qu_txt li ,#panelHeader .qu_txt ul li{
    float:left;
}
#panelHeader .qu_txt .qu_txtBtnBox{
    float:right;
    margin-top:1px;
}
#panelHeader .qu_txt .qu_txtBtnBox a{
    text-indent: -999999px;
    width:17px;
    height:16px;
    float: left;
    background-image:url('../images/btn_smallSize.png');
    background-position:0 0;
    background-repeat:no-repeat;
}
#panelHeader .qu_txt .qu_txtBtnBox a.qu_txtBtnLeft{ background-position: 0 0;}
#panelHeader .qu_txt .qu_txtBtnBox a.qu_txtBtnRight{ background-position: -16px 0;}
/*search*/


/*gnb*/
#panelHeader .gnbWrap{
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid #d9d9db;
    border-bottom: 4px solid #007ac3;
}
#panelHeader .gnbWrap .gnb{
    width:1110px;
    margin : 0 auto;
    position: relative;
}
#panelHeader .gnbWrap .gnb ul{
    margin-top: 5px;
    overflow: hidden;
    width:1110px;
    height:41px;
    float: left;
    margin-left: 10px;
}
#panelHeader .gnbWrap .gnb ul a{
    width:150px;
    height: 27px;
    font-size: 16px;
    font-family:"NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
    float:left;
    border-top: 1px #d8d8d8;
    text-align: center;
    padding-top:13px;
    background-image: url('../images/bar_util15.png');
    background-repeat: no-repeat;
    background-position: left center;
}
#panelHeader .gnbWrap .gnb ul a.bg_non{background-image:none;}
#panelHeader .gnbWrap .gnb ul a:hover , #panelHeader .gnbWrap .gnb ul a.on{
    background-color: #007ac3;
    background-image: none;
    color:white;
    text-decoration: none;
}
#panelHeader .gnbWrap .gnb a.btn_gnb {
    width:20px;
    height:33px;
    float:left;
    background-image: url('../images/btn_midSize.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -999999px;
    margin-top:4px;
}
#panelHeader .gnbWrap .gnb a.btn_gnb.prev{
    margin-right:3px;
}
#panelHeader .gnbWrap .gnb a.btn_gnb.next{
    margin-left:3px;
    background-position: -20px 0;
}
/*gnb*/

/*gnb sub Menu*/
#panelHeader .gnbSubWrap{
    width: 100%;
    height: 42px;
    background-color: #dddddd;
    border-bottom: 2px solid #cecece;
}
#panelHeader .gnbSubWrap .gnbSub{
    width: 1250px;
    margin: 0 auto;
    position: relative
}
#panelHeader .gnbSubWrap .gnbSub p{
    float: left;
    margin: 16px 0 0 70px;
}
#panelHeader .gnbSubWrap .gnbSub ul a img{
    float: left;
    margin: 12px 50px 0 50px;
}
#panelHeader .gnbSubWrap .gnbSub ul a{}

#panelHeader .flatform{
	background-image: url('../images/platformBg.png');
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom: 1px solid #cecece;
	height: 335px;
}


/* 상단 */
#panelHeader .busniBg{
	height: 185px;
	background-image: url('../../../images/opro/main/busniessBg.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#panelHeader .busniBg .busniWrap{
	width: 1250px;
	margin: 0 auto;
}
	/* 블루 */
#panelHeader .busniBg .busniWrap .busniConBlue{
	float: left;
	width: 368px;
	margin-right:31px;
}

#panelHeader .busniBg .busniWrap .busniConBlue > p{
	height: 41px;
	padding-top: 11px;
	color: #343434;
	text-align: center;
	background-image: url('../../../images/opro/main/ico_blue_top.png');
	background-repeat: no-repeat;
	background-position: 0 33px;
    font-family: "NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
	font-size: 14px;
}

#panelHeader .busniBg .busniWrap .busniConBlue ul{
	padding-left: 3px;
}

#panelHeader .busniBg .busniWrap .busniConBlue li{
	float: left;
	width: 71px;
	height: 114px;
	padding-right: 15px;
	margin-right: 9px;
	color: #525252;
	text-align: center;
	background-image: url('../images/ico_blue_arrow.png');
	background-repeat: no-repeat;
	background-position: right 31px;
}

#panelHeader .busniBg .busniWrap .busniConBlue li:last-child{
	margin-right: 0;
	padding-right: 0;
	background-image: none;
}

#panelHeader .busniBg .busniWrap .busniConBlue li a span.titTopBlue{
	padding-top: 5px;
	color: #343434;
	display: block;
}

#panelHeader .busniBg .busniWrap .busniConBlue li a span.titNumBlue{
	color: #017ac3;
	font-size: 16px;
    font-family: "NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
}

	/*그린*/
#panelHeader .busniBg .busniWrap .busniConGreen{
	float: left;
	width: 547px;
	margin-right:32px;
}

#panelHeader .busniBg .busniWrap .busniConGreen > p{
	height: 41px;
	padding-top: 11px;
	color: #343434;
	text-align: center;
	background-image: url('../../../images/opro/main/ico_green_top.png');
	background-repeat: no-repeat;
	background-position: 0 33px;
    font-family: "NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
	font-size: 14px;
}

#panelHeader .busniBg .busniWrap .busniConGreen ul{
}

#panelHeader .busniBg .busniWrap .busniConGreen li{
	float: left;
	width: 71px;
	height: 114px;
	padding-right: 15px;
	margin-right: 9px;
	color: #525252;
	text-align: center;
	background-image: url('../images/ico_green_arrow.png');
	background-repeat: no-repeat;
	background-position: right 31px;
}

#panelHeader .busniBg .busniWrap .busniConGreen li:last-child{
	margin-right: 0;
	padding-right: 0;
	background-image: none;
}

#panelHeader .busniBg .busniWrap .busniConGreen li a span.titTopGreen{
	padding-top: 5px;
	color: #343434;
	display: block;
}

#panelHeader .busniBg .busniWrap .busniConGreen li a span.titNumGreen{
	color: #1c8d6e;
	font-size: 16px;
    font-family: "NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
}
	/* 네이비 */
#panelHeader .busniBg .busniWrap .busniConNavy{
	float: left;
	width: 182px;
}

#panelHeader .busniBg .busniWrap .busniConNavy > p{
	height: 41px;
	padding-top: 11px;
	color: #343434;
	text-align: center;
	background-image: url('../../../images/opro/main/ico_navy_top.png');
	background-repeat: no-repeat;
	background-position: 0 33px;
    font-family: "NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
	font-size: 14px;
}

#panelHeader .busniBg .busniWrap .busniConNavy ul{
	padding-left: 8px;
}

#panelHeader .busniBg .busniWrap .busniConNavy li{
	float: left;
	width: 71px;
	height: 114px;
	padding-right: 15px;
	margin-right: 9px;
	color: #525252;
	text-align: center;
	background-image: url('../images/ico_blue_arrow.png');
	background-repeat: no-repeat;
	background-position: right 31px;
}

#panelHeader .busniBg .busniWrap .busniConNavy li:last-child{
	margin-right: 0;
	padding-right: 0;
	background-image: none;
}

#panelHeader .busniBg .busniWrap .busniConNavy li a span.titTopNavy{
	padding-top: 5px;
	color: #343434;
	display: block;
}

#panelHeader .busniBg .busniWrap .busniConNavy li a span.titNumNavy{
	color: #1c5c8d;
	font-size: 16px;
    font-family: "NanumGothicBold" , NanumGothicBold , Dotum, 'NanumGothic', Arial, sans-serif;
}

#panelHeader .headAccordion{
    float:left;
    width:100%;
    height: 42px;
    margin-bottom:13px;
    background-color: #ebebeb;
    border-bottom:1px solid #cecece;
}
#panelHeader .headAccordion .headAccordionLayer{
    height: 100%;
    width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}

#panelHeader .headAccordion .headAccordionLayer p , #panelHeader .headAccordion .headAccordionLayer ul , #panelHeader .headAccordion .headAccordionLayer ul li{
    float: left;
}
#panelHeader .headAccordion .headAccordionLayer ul li a{
    width: 181px;
    margin-top: 13px;
    text-align: center;
    display: block;
}
#panelHeader .headAccordion .headAccordionLayer p{
    margin-left: 36px;
    margin-top: 16px;
}
#panelHeader .headAccordion .headAccordionBtn{
    width:1250px;
    height:13px;
    margin: 0 auto;
}
#panelHeader .headAccordion .headAccordionBtn .accordionBtn{
    background-image: url('../images/headMenuBtn.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    width:45px;
    height: 13px;
    display:block;
    margin: 0 auto;
}
#panelHeader .headAccordion .headAccordionBtn .accordionBtn.up{
    background-position-y: 0;
}
#panelHeader .headAccordion .headAccordionBtn .accordionBtn.down{
    background-position-y: -13px;
}
/*head accordion*/
