@charset "utf-8";
/* CSS Document */ 

@import url("eunwoo/login.css");
@import url("eunwoo/base.css"); 
@import url("eunwoo/layout.css");
@import url("eunwoo/board.css");
@import url("eunwoo/order.css");
@import url("eunwoo/jquery-ui.css");

/*tamplate css 목록*/
@import url("template/selectForm.css");
@import url("template/buttonStyle.css");
@import url("template/comment.css");
@import url("template/treeMenu.css");
 
/* width */
.w71 { width: 71px; }
.w92 { width: 92px !important; }
.w105 { width: 105px !important; }
.w411 { width: 411px !important; }

.w200 { width: 200px !important;; }
.w250 { width: 250px !important;; }
.w282 { width: 282px !important;; }
.w448 { width: 448px !important; }
.w449 { width: 449px !important; }
.w460 { width: 460px !important; }

.w50p { width: 50% !important; }
.w87p { width: 87% !important; }
.w90p { width: 90% !important; }


/* button */
.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	color: #fff;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: -0.5px;
}

/* button size */
.btn_w210{width:210px; height: 48px;}

/* button style */
.btn_login { width: 100px; height: 64px; line-height: 64px; background: #246cab; font-size: 17px;  }
.btn_select { padding: 0 15px; border: 1px solid #a7a7af; background: #fff; line-height: 24px; font-size: 13px; color: #262626; font-weight: inherit; letter-spacing: -0.8px;}
.btn_select:hover { border: 1px solid #246cab; color: #246cab; }
.btn_3694cc { padding: 0 15px; background: #3694cc; color: #fff; font-size: 13px; line-height: 24px; }
.btn_3694cc:hover {background:#246cab;}
.btn_1262b3 { width: 82px; height: 32px; background: #1262b3; }
.btn_1262b3:hover { background: #3694cc; }

/* padding, margin */

.mt17 { margin-top: 17px !important;}



.mb4 {margin-bottom: 4px !important;}


/* float */
.fl_l { float: left;}
.fl_r { float: right;} 

/* paging-btn 
.paging-btn  { margin-top: 16px; text-align: center; }
.paging-btn span { display: inline-block; width: 24px; height: 24px; line-height: 23px; font-weight: bold; background: #cedeec; color: #246cab; }
.paging-btn a { display: inline-block; width: 24px; height: 24px; border: 1px solid #dedede; line-height: 23px; font-weight: bold; color: #666; } 
.paging-btn a:hover { font-weight: bold; background: #cedeec; color: #246cab; border:0; }

.paging-btn .first_Paging { background: url("../images/btn/btn_first.png") no-repeat 7px 8px; }
.paging-btn .prev_Paging { background: url("../images/btn/btn_pre.png") no-repeat 7px 8px; }
.paging-btn .next_Paging { background: url("../images/btn/btn_next.png") no-repeat 7px 8px; }
.paging-btn .last_Paging { background: url("../images/btn/btn_last.png") no-repeat 7px 8px; }
.paging-btn .first_Paging:hover { background: #cedeec url("../images/btn/btn_first.png") no-repeat 8px 8px; }
.paging-btn .prev_Paging:hover { background: #cedeec url("../images/btn/btn_pre.png") no-repeat 8px 8px; }
.paging-btn .next_Paging:hover { background: #cedeec url("../images/btn/btn_next.png") no-repeat 8px 8px; }
.paging-btn .last_Paging:hover { background: #cedeec url("../images/btn/btn_last.png") no-repeat 8px 8px; }

.detebox { display: inline-block; }
*/

/* squaredOne */
.squaredOne { display: inline-block; width: 15px; height: 15px; position: relative; vertical-align: middle;}
.squaredOne input[type="checkbox"]{width:13px; height:13px; border:0;}
.squaredOne label { cursor: pointer; position: absolute; width: 16px; height: 16px; left: 1px; top: 0; background: #fff;  border: 1px solid #d6d6d6; }
.squaredOne label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;content: '';position: absolute;width: 15px;height: 15px;background: url(../../content/images/btn/btn_check.gif) no-repeat center; top:0;left: 0; }
.squaredOne label:hover::after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;}
.squaredOne input[type=checkbox]:checked + label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}

/*text-align*/
.txt_center { text-align: center !important; }
.txt_left { text-align: left !important; }
.txt_right  { text-align: right !important; }


.ellipsis { display: inline-block; max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

   