@charset "utf-8";

.T_btnLayer{
	
	margin-top: 5px;
   
}
.T_btnLayer button , .T_btnLayer a{
    /* float:left; */
    text-align: center;
}
.T_btnLayer.ab{position: absolute;}
.T_btnLayer.fl{float: left; clear: both;}
.T_btnLayer.fr{ clear: both; text-align: right;}
.T_btnLayer.textfr{float: right; clear: both; text-align: right; display: inline;}
.T_btnLayer.n_m{margin-top: 10px; margin-bottom: 5px;}
.T_btnLayer.n_m17{margin-top: 17px; margin-bottom: 5px;}
.T_btnLayer.mt_5{margin-top: 5px;}
.T_btnLayer.mb_5{margin-bottom: 5px;}
.T_btnLayer.mt_2{margin-top: 2px;}
.T_btnLayer.cn{clear: none ! important;}
.T_btnLayer.mr_25{margin-right: 25px;}
.T_btnLayer.mt_22{margin-top: 22px;}
.T_btnLayer.ml_10{margin-top: 10px;}
/*기본 스타일*/
button.whiteGray , button.grayBtn , button.blueBtn{
    font-family:"NanumGothic", NanumGothic, Dotum, "NanumGothic", Arial, sans-serif;
    margin-left:3px;
    margin-right:2px;
    /* float:left; */
}
.T_btnLayer a.whiteGray , .T_btnLayer a.grayBtn , .T_btnLayer a.blueBtn{
    font-family:"NanumGothic", NanumGothic, Dotum, "NanumGothic", Arial, sans-serif;
    margin-left:3px;
    margin-right:2px;
    float:left;
}
/*하단 위치 스타일*/
.T_btnLayer.bt_L{
    position:absolute;
    bottom: 3px;
    left: 3px;
}
.T_btnLayer.bt_R{
    position:absolute;
    bottom: 3px;
    right: 3px;
}
/*사이즈*/
.T_btnLayer a.L ,button.L{
    padding:2px 14px 2px;    
    font-size:13px;
    /*ie hack padding bug fix*/
    padding:2px 14px 2px\0;
}
.T_btnLayer a.M ,button.M{
    padding:5px 10px;    
    font-size:12px;
    /*ie hack padding bug fix*/
    padding:4px 10px\0;
}
.T_btnLayer a.MM.grayBtn , button.MM.grayBtn{
    padding : 10px 25px;
    font-size:12px;
    border-radius: 1px;
    margin: 7px 10px 0 0;
    /*ie hack padding bug fix*/
    padding : 8px 23px\0;
}
.T_btnLayer a.S , button.S{
    padding:3px 15px;
    /*ie hack padding bug fix*/
    padding:1px 15px\0;
}
/*타입 아이콘*/
.T_btnLayer a.ico , button.ico{
    padding:3px 5px;
    /*ie hack padding bug fix*/
    padding:2px 5px\0;
}
.T_btnLayer a.ico img , button.ico img{
    margin-right:3px;
    width:15px;
    height:14px;
}
/*사각형 스타일*/
.T_btnLayer a.square , button.square{
    padding:2px;
}
/*컬러 스타일*/
/*블루*/
.T_btnLayer a.blueBtn , button.blueBtn{
    border:1px solid #016CAC;
    color:white;
    background-color:#017AC3;
    background-image: url('../../images/template_ico_right_arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.T_btnLayer a.blueBtn:hover , .T_btnLayer a.blueBtn.on,
button.blueBtn:hover , button.blueBtn.on{
    border:1px solid #0049b4;
    background-color:#0055d1;
}
/*gray*/
.T_btnLayer a.grayBtn,
button.grayBtn{
    border:1px solid #666666;
    color:white;
    background-color: #707070;
    border-radius: 3px;
}
.T_btnLayer a.grayBtn:hover , .T_btnLayer a.grayBtn.on,
button.grayBtn:hover , button.grayBtn.on{
    background-color:#444444;
    border:1px solid #1b1b1b;
}
/*whiteGray*/
.T_btnLayer a.whiteGray, button.whiteGray{
    border:1px solid #c6c6c6;
    color:#666666;
    background-color: #d9d9d9;
    border-radius: 5px;
}
.T_btnLayer a.whiteGray:hover , .T_btnLayer a.whiteGray.on,
button.whiteGray:hover , button.whiteGray.on{
    background-color:#ffffff;
    border:1px solid #c6c6c6;
}
/*게시판 버튼*/
.T_btnLayer a.iconWhite , button.iconWhite{
    background-color: white;
    border:1px solid #ccc;
    width: 68px;
    height: 23px;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
    text-indent: 15px;
    background-repeat: no-repeat;
    background-position: 9px center;
    color:#555555;
}
.T_btnLayer a.iconWhite.type1, button.iconWhite.type1{
    background-image: url('../../images/upArrowIcon.png');
}
.T_btnLayer a.iconWhite.type2, button.iconWhite.type2{
    background-image: url('../../images/downArrowIcon.png');
}
.T_btnLayer a.iconWhite.type3 , button.iconWhite.type3{
    background-image: url('../../images/printIcon.png');
    background-position: 9px 5px;
    width: 58px;
    text-indent: 15px;
}
.T_btnLayer a:hover{
    text-decoration: none ! important;
}
button[disabled=disabled],button:disabled {
    opacity: 0.5 ! important;	
}
button[disabled=disabled]:hover,button:disabled:hover{
	cursor: not-allowed;
}
.T_btnLayer span.buttonLabel{
    float: left;
    margin-left: 5px;
    font-family: NanumGothicBold , "NanumGothicBold" , Dotum, "NanumGothic", Arial, sans-serif;
    margin-right: 5px;
    margin-top: 2px;
    font-size: 15px;
}

.T_btnLayerFile{
    margin-bottom : 5px;
}
.T_btnLayerFile button , .T_btnLayerFile a{
    float:left;
    text-align: center;
}
.T_btnLayerFile.ab{position: absolute;}
.T_btnLayerFile.fl{float: left; clear: both;}
.T_btnLayerFile.fr{float: right; clear: both;}
.T_btnLayerFile.cn{clear: none ! important;}

.searchBtnTd {
	text-align: right; 
	padding-right: 5px;
}

/* button */ 
.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
	white-space: nowrap;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: -0.5px;
}
/* button size */ 
.btn_w210{width:210px; height: 48px;}

/* button style */ 
.btn_login { background: #ffd500; color: #333; border-radius: 4px;  }
.btn_out { width: 64px; height: 24px;  background: #2b8f5d; color: #fff; font-weight: inherit; font-size: 12px; line-height: 24px; border-radius: 2px; }
.btn_ask { width: 112px; line-height: 28px; border-radius: 4px; background: #22975c; color: #fff; font-weight: inherit; }
.btn_search { width: 70px; height: 26px; padding-left: 15px; line-height: 24px; background: #2b8f5d url(../../../images/ipro/icon/icon_search.png) no-repeat 15px center; font-size: 13px; color: #fff; }
.btn_search:hover { background-color: #206b46; }
.btn_search02 { width: 32px; height: 28px; background: #a6a6a6 url(../../../images/ipro/icon/icon_search.png) no-repeat center; }
.btn_del { width: 42px; line-height: 24px; border: 1px solid #bfc7c3; background: #fff; font-size: 13px; color: #818c87; font-weight: inherit; }
.btn_plus { width: 42px; line-height: 24px; border: 1px solid #bfc7c3; background: #fff; font-size: 13px; color: #818c87; font-weight: inherit; }
.btn_file { width: 75px; line-height: 24px; padding-left: 11px; border: 1px solid #c5c5c5; background: #eee url(../../../images/ipro/icon/icon_plus.png) no-repeat 9px center; font-size: 13px; color: #818c87; font-weight: inherit; letter-spacing: -0.5px;}
.btn_2b8f5d {padding: 0 18px; line-height: 32px; color: #fff; background: #2b8f5d; }