<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * sqlmap.ipro.appr
 * IproApprMngMapper.xml
 *
 * @Author :
 * @Date   : 2018. 03. 05.
 *
 -->

 <mapper namespace="com.eunwoosoft.ipro.appr.dao.IproApprMngDao">
 
 	<select id="selectApplMstList" resultType="dataEntity">
		SELECT * FROM (
			<include refid="getMmApplMstList"/>
		) T1
		ORDER BY APPL_NO ASC
	</select>

	<select id="selectApplMstListTotCnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="getMmApplMstList"/>
		) T1
	</select>

 	<sql id="getMmApplMstList">
        SELECT A.APPL_NO
                  , A.USR_ID
                  , A.MBR_REG_NO
                  , A.APPL_NM
                  , A.RMK
                  , APPL_SE
                  , A.REGR_ID
                  , A.REGR_NM
                  , A.REG_DT
                  , A.MODR_ID
                  , A.MODR_NM
                  , A.MOD_DT
                  , A.DEL_AT
           FROM T_MM_APPL_MST A
         WHERE 1=1
             AND A.MBR_REG_NO = #{P_MBR_REG_NO}
             <if test='USR_ID != null and USR_ID != "" '>
             	AND A.USR_ID	= #{USR_ID}
             </if>
             AND A.DEL_AT NOT IN ('Y')
 	</sql>

 	<sql id="getMmApplMstListWhere">
 		<where>
	 		<if test='P_APPL_NO != null and P_APPL_NO != "" '>
	 			AND	APPL_NO = #{P_APPL_NO}
	 		</if>
	 		<if test='P_APPL_NM != null and P_APPL_NM != "" '>
	 			AND	APPL_NM LIKE '%'||#{P_APPL_NM}||'%'
	 		</if>
 		</where>
 	</sql>

    

 	<sql id="getBlosMmAprpList">
 		SELECT		A.APPL_NO
 					, A.APRP_SN
 					, A.APPR_AUCD
					, DECODE(A.APPR_AUCD, 'S','결재','C','참조','A','합의') AS APPR_AUCD_NM
 					, A.USR_ID
 					, A.MBR_REG_NO
 					, A.APRP_USER_ID
 					, A.APRP_USER_NM
					, A.DEPT_NM
					, A.REGR_ID
					, A.REGR_NM
					, A.REG_DT
					, A.MODR_ID
					, A.MODR_NM
					, A.MOD_DT
					, A.DEL_AT
					, A.APRP_ORD_SN
		FROM		T_MM_APPL_APRP A

		WHERE	1=1
		AND		A.APPL_NO = #{P_APPL_NO}
		AND		A.USR_ID = #{USR_ID}
		<if test=' VEND_REG_NO != null and VEND_REG_NO != "" '>
		AND		A.MBR_REG_NO = #{P_VEND_REG_NO}
		</if>
		AND		A.DEL_AT NOT IN ('Y')
 	</sql>

 	<sql id="getBlosMmAprpListWhere">
 		<where>
 			 <if test=' P_APPL_NO != null and P_APPL_NO != "" '>
 				AND	APPL_NO  = #{P_APPL_NO}
 			</if>
 			<!--  <if test=' P_APRP_SN != null and P_APRP_SN != "" '>
 				AND	APRP_SN  = #{P_APRP_SN}
 			</if>
 			<if test=' P_EMPL_NO != null and P_EMPL_NO != "" '>
 				AND	EMPL_NO  = #{P_EMPL_NO}
 			</if> -->
 		</where>
 	</sql>

 	

 	

 	

 	

	

	<!--
     * <pre>
     * 1. 개요 : 결재선마스터 등록
     -->
     <insert id="insertApplMst" useGeneratedKeys="true" keyProperty="P_APPL_NO">
        <selectKey keyProperty="P_APPL_NO" resultType="String" order="BEFORE">
            SELECT NVL(MAX(TO_NUMBER(APPL_NO)), 0)+1 AS APPL_NO
               FROM T_MM_APPL_MST
             WHERE USR_ID = #{P_USR_ID}
                 AND MBR_REG_NO = #{P_MBR_REG_NO}
        </selectKey>
        INSERT INTO T_MM_APPL_MST (
          APPL_NO
        , USR_ID
        , MBR_REG_NO
        , APPL_NM
        , RMK
        , APPL_SE
        , USE_YN
        <include refid="ComRegr.RegrColumnClause"/>
     	) VALUES (
     	  #{P_APPL_NO, jdbcType=VARCHAR}
        , #{P_USR_ID, jdbcType=VARCHAR}
        , #{P_MBR_REG_NO, jdbcType=VARCHAR}
        , #{P_APPL_NM, jdbcType=VARCHAR}
        , #{P_RMK, jdbcType=VARCHAR}
        , #{P_APPL_SE, jdbcType=VARCHAR}
        , 'Y'
        <include refid="ComRegr.RegrValueClause"/>
     	)
 	</insert>

	<!--
     * <pre>
     * 1. 개요 : 결재선결재자정보
     -->
     <insert id="insertApplAprp" useGeneratedKeys="true" keyProperty="P_APRP_SN">
        <selectKey keyProperty="P_APRP_SN" resultType="int" order="BEFORE">
            SELECT NVL(MAX(APRP_SN), 0)+1 AS APRP_SN
               FROM T_MM_APPL_APRP
            WHERE APPL_NO = #{P_APPL_NO}
                AND USR_ID = #{P_USR_ID}
			    AND MBR_REG_NO = #{P_MBR_REG_NO}
        </selectKey>
        INSERT INTO T_MM_APPL_APRP
        (
          APPL_NO
        , USR_ID
        , MBR_REG_NO
        , APRP_SN
        , APPR_USER_ID
        , APPR_USER_NM
        , APPR_DEPT_NM
        , APPR_AUCD
        , APRP_ORD_SN
        , RMK
        , RET_YN
          <include refid="ComRegr.RegrColumnClause"/>
     	) VALUES (
          #{P_APPL_NO, jdbcType=VARCHAR}
        , #{P_USR_ID, jdbcType=VARCHAR}
        , #{P_MBR_REG_NO, jdbcType=VARCHAR}
        , #{P_APRP_SN, jdbcType=INTEGER}
        , #{P_APPR_USER_ID, jdbcType=VARCHAR}
        , #{P_APPR_USER_NM, jdbcType=VARCHAR}
        , #{P_APPR_DEPT_NM, jdbcType=VARCHAR}
        , #{P_APPR_AUCD, jdbcType=VARCHAR}
        , #{P_APRP_ORD_SN, jdbcType=VARCHAR}
        , #{P_RMK, jdbcType=VARCHAR}
        , 'N'
        <include refid="ComRegr.RegrValueClause"/>
     	)
     </insert>




	<select id="selectApprAprpList" resultType="dataEntity">
        SELECT * FROM (
			<include refid="apprAprpList"/>
			<include refid="apprAprpListWhere"/>
			ORDER BY APRP_ORD_SN ASC
		) T1
	</select>

	<select id="selectApprAprpListTotCnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="apprAprpList"/>
			<include refid="apprAprpListWhere"/>
		) T1
		WHERE 1=1
	</select>

	<sql id="apprAprpList">
        SELECT A.APPL_NO
                  , A.APRP_SN
                  , A.USR_ID
                  , A.MBR_REG_NO
                  , A.APPR_USER_ID
                  , A.APPR_USER_NM
                  , A.APPR_DEPT_NM
                  , ( SELECT DEPT_NO FROM V_MM_USER V WHERE V.EMPL_NO = A.APPR_USER_ID ) AS APPR_DEPT_NO                  
                  , A.REGR_ID
                  , A.REGR_NM
                  , A.REG_DT
                  , A.MODR_ID
                  , A.MODR_NM
                  , A.MOD_DT
                  , A.DEL_AT
                  , A.APRP_ORD_SN
                  , A.APPR_AUCD
           FROM T_MM_APPL_APRP A
 	</sql>

 	<sql id="apprAprpListWhere">
 		<where>
 			AND A.USR_ID = #{USR_ID}
            AND A.MBR_REG_NO = #{P_MBR_REG_NO}
            AND A.DEL_AT NOT IN ('Y')
            <if test='P_APPL_NO != null and P_APPL_NO != "" '>
            AND	APPL_NO  = #{P_APPL_NO}
            </if>
 		</where>
 	</sql>

<!--
     * <pre>
     * 1. 개요 : blossom 결재선조회 상세
     * 2. 처리내용 : blossom 결재선등록 상세
     *
     * </pre>
     * @Query ID : getMmAprpList
     * @date : 2018. 03. 09.
     * @author : 은우소프트 맹경열
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
     *  2018. 03. 09.       은우소프트 맹경열              최초 작성
     *  =======================================================
     -->
	<select id="getBlosMmAprpList" resultType="dataEntity">
		SELECT * FROM (
			<include refid="getBlosMmAprpList"/>
		) T1
			<include refid="getBlosMmAprpListWhere"/>
			ORDER BY APRP_ORD_SN ASC
	</select>

	<select id="getBlosMmAprpListTotcnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="getBlosMmAprpList"/>
		) T1
			<include refid="getBlosMmAprpListWhere"/>
	</select>
	
	<!--
     * <pre>
     * 1. 개요 : 결재선 삭제
     * 2. 처리내용 : 
     -->
    <update id="updateApplMstDelAt">
        UPDATE T_MM_APPL_MST
             SET DEL_AT = 'Y'
        WHERE APPL_NO = #{P_APPL_NO}
	</update>

	<delete id="infoApprlineDeleteUser">
        DELETE FROM T_MM_APPL_APRP
        WHERE APPL_NO = #{P_APPL_NO}
	</delete>

	
     <update id="updateApplMst">
        UPDATE T_MM_APPL_MST
             SET MOD_DT = TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
                    <if test=' P_APPL_NM != null and P_APPL_NM != "" '>, APPL_NM = #{P_APPL_NM}</if>
                    <if test=' P_RMK != null and P_RMK != "" '>, RMK = #{P_RMK}</if>
                    <include refid="ComRegr.ModrSetClause"/>
        WHERE 1=1
            AND APPL_NO = #{P_APPL_NO}
     </update>

     <update id="updateApplAprp">
     	UPDATE	T_MM_APPL_APRP
     	SET		MOD_DT = TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
     			, APRP_ORD_SN = #{P_APRP_ORD_SN}
 					<if test=' P_RMK != null and P_RMK != "" '>, RMK = #{P_RMK}</if>
 					<include refid="ComRegr.ModrSetClause"/>
 					<if test=' P_DEL_AT != null and P_DEL_AT != "" '>, DEL_AT = #{P_DEL_AT}</if>
		WHERE	1=1
		AND		APPL_NO = #{P_APPL_NO}
		AND		APRP_SN = #{P_APRP_SN}
     </update>


	<select id="selectApprObjList" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT * FROM (
			<include refid="apprObjList"/>
			<include refid="apprObjListWhere"/>
			ORDER BY TO_NUMBER(APPR_NO) DESC
		) T1
		WHERE 1=1
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	<select id="selectApprObjListTotCnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="apprObjList"/>
			<include refid="apprObjListWhere"/>
		) T1
	</select>
	
	<sql id="apprObjList">
	select * from (
        SELECT A.APPR_NO
                  , A.APPR_STCD
                  , F_CDVAL_INQIRE('APPR_STCD', A.APPR_STCD) AS APPR_STCD_NM
                  , A.APPR_NM
                  , A.APPR_CN
                  , A.BODY_LNKTN
                  , A.APPR_SE
                  , A.JOB_SE
                  , A.FILE_GRP_NO
                  , A.LT_APPR_YN
                  , A.REG_DT
                  , A.REGR_ID
                  , A.REGR_NM
                  , A.MOD_DT
                  , A.MODR_ID
                  , A.MODR_NM
                  , (CASE WHEN (SELECT MIN(APRP_SN) FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND APPR_USER_ID = #{P_APPR_USER_ID} AND APPR_TYP_SE IN ('S','A'))
							=
						 	(SELECT MIN(APRP_SN) FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND NVL(B.APPR_YN,'N') = 'N' AND APPR_TYP_SE IN ('S','A'))
					   THEN 'Y'
					   ELSE 'N'
				   END
				) AS APPR_TRGET
		   FROM T_MM_APPR_MST A
		 WHERE 1=1 
		 <if test=' P_APPR_STCD_S != null and P_APPR_STCD_S != "" '>
			AND	APPR_STCD = #{P_APPR_STCD_S}
		</if>
		)
 	</sql>
	
	
	<sql id="apprObjListWhere">
 		<where>
 			AND APPR_STCD != 'RTN'
			<if test=' P_APPR_TRGET != null and P_APPR_TRGET != "" '>
	 			AND APPR_TRGET = #{P_APPR_TRGET}
			</if>
			
			<if test=' P_REGR_NM_S != null and P_REGR_NM_S != "" '>
				AND	REGR_NM = #{P_REGR_NM_S}
			</if>
			<if test=' P_APPR_NM_S != null and P_APPR_NM_S != "" '>
				AND	APPR_NM LIKE '%'||#{P_APPR_NM_S}||'%'
			</if>
			<if test=' P_APRDC_INTL_NM_S != null and P_APRDC_INTL_NM_S != "" '>
				AND	APPR_NM LIKE '%'||#{P_APRDC_INTL_NM_S}||'%'
			</if>
			<if test='P_REG_DT_ST_S != null and P_REG_DT_ST_S != "" '>
				AND TO_CHAR(TO_DATE(REG_DT, 'yyyyMMddHH24miss'), 'yyyy-MM-dd') >= #{P_REG_DT_ST_S}
			</if>
			<if test='P_REG_DT_END_S != null and P_REG_DT_END_S != "" '>
				AND TO_CHAR(TO_DATE(REG_DT, 'yyyyMMddHH24miss'), 'yyyy-MM-dd') &lt;= #{P_REG_DT_END_S}
			</if>
 		</where>
 	</sql>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	<!--
     * <pre>
     * 1. 개요 : 결재마스터 저장
     * 2. 처리내용 : 결재마스터 저장
     * </pre>
     * @Query ID : infoApprMasterRegist
     * @date : 2018. 11. 23.
     * @author : 은우소프트
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
     *  2018. 11. 23.       은우소프트               최초 작성
     *  =======================================================
     -->
	<insert id="infoApprMasterRegist" useGeneratedKeys="true">
		<selectKey keyProperty="P_APPR_NO" resultType="String" order="BEFORE">
			SELECT
				Q_MM_APPL_SN.NEXTVAL AS P_APRDC_NO
			FROM DUAL
		</selectKey>
		INSERT INTO T_MM_APPR_MST
		(
			 APPR_NO		/**결재번호**/
			,APPR_STCD		/**결재상태코드**/
			,APPR_NM		/**결재명**/
			,APPR_CN		/**기안내용**/
			,BODY_CN_HTML	/**본문_HTML**/
			,BODY_LNKTN		/**본문링크정보**/
			,APPR_SE		/**결재구분**/
			,JOB_SE			/**업무구분**/
			,FILE_GRP_NO	/**파일그룹번호**/
			,LT_APPR_YN		/**최종결재여부**/
			,REG_DT			/**등록일시**/
			,REGR_ID		/**등록자아이디**/
			,REGR_NM		/**등록자명**/
			,MOD_DT			/**수정일시**/
			,MODR_ID		/**수정자아이디**/
			,MODR_NM		/**수정자명**/
			,APPR_KEY1		/**키값1(계약번호 or 입찰번호 or 서식번호)**/
			,APPR_KEY2		/**키값2(차수)**/
			,APPR_KEY3		/**키값3(VEND_REG_NO)**/

		)VALUES(
			 #{P_APPR_NO		,jdbcType=VARCHAR}		  /**결재번호**/
			,NVL(#{P_APPR_STCD	,jdbcType=VARCHAR},'APP') /**결재상태코드**/
			,#{P_APPR_NM		,jdbcType=VARCHAR}		  /**결재명**/
			,#{P_APPR_CN		,jdbcType=VARCHAR}		  /**기안내용**/
			,#{P_BODY_CN_HTML	,jdbcType=VARCHAR}		  /**본문_HTML**/
			,#{P_BODY_LNKTN		,jdbcType=VARCHAR}		  /**본문링크정보**/
			,#{P_APPR_SE		,jdbcType=VARCHAR}		  /**결재구분**/
			,#{P_JOB_SE			,jdbcType=VARCHAR}		  /**업무구분**/
			,#{P_FILE_GRP_NO	,jdbcType=VARCHAR}		  /**파일그룹번호**/
			,#{P_LT_APPR_YN		,jdbcType=VARCHAR}		  /**최종결재여부**/
			,TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')		  /**등록일시**/
			,#{P_USR_ID			,jdbcType=VARCHAR}		  /**등록자아이디**/
			,#{P_USR_NM			,jdbcType=VARCHAR}		  /**등록자명**/
			,TO_CHAR(SYSDATE, 'yyyyMMddHH24MISS')		  /**수정일시**/
			,#{P_USR_ID			,jdbcType=VARCHAR}		  /**수정자아이디**/
			,#{P_USR_NM			,jdbcType=VARCHAR}		  /**수정자명**/
			,#{P_APPR_KEY1		,jdbcType=VARCHAR}		  /**키값1(계약번호 or 입찰번호 or 서식번호)**/
			,#{P_APPR_KEY2		,jdbcType=VARCHAR}		  /**키값2(차수)**/
			,#{P_APPR_KEY3		,jdbcType=VARCHAR}		  /**키값3(VEND_REG_NO)**/
		)
     </insert>

     <!--
     * <pre>
     * 1. 개요 : 결재프로시저 호출
     * 2. 처리내용 :
     * </pre>
     * @Query ID : callApprPro
     * @date : 2018. 12 . 11
     * @author : 이주연
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
     *   2018. 12 . 11       이주연               최초 작성
     *  =======================================================
     -->
	<parameterMap type="HashMap" id="myParam">
		<parameter property="P_APPL_ID" mode="IN" jdbcType="VARCHAR" javaType="java.lang.String" />
		<parameter property="P_AV_GUBN" mode="IN" jdbcType="VARCHAR" javaType="java.lang.String" />
	</parameterMap>
	<!-- callApprPro -->
	<!-- <update id="prcSsgMemberSet" statementType="CALLABLE">
		{ call P_SSG_MEMBER_SET() }
	</update> -->

	<update id="callApprPro" statementType="CALLABLE" parameterMap="myParam">
		{ CALL P_HTTP_MAIN_NORE(?,?) }
	</update>

     <!--
     * <pre>
     * 1. 개요 : 결재대상자 저장
     * 2. 처리내용 : 결재대상자 저장
     * </pre>
     * @Query ID : infoApprUserRegist
     * @date : 2018. 11. 23.
     * @author : 은우소프트
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
     *  2018. 11. 23.       은우소프트               최초 작성
     *  =======================================================
     -->
	<insert id="infoApprUserRegist" useGeneratedKeys="true">
        <selectKey keyProperty="P_APRP_SN" resultType="String" order="BEFORE">
            SELECT NVL(MAX(APRP_SN), 0)+1
              FROM T_MM_APPR_APRP
           WHERE APPR_NO = #{P_APPR_NO, jdbcType=VARCHAR}
		</selectKey>
        INSERT INTO T_MM_APPR_APRP (
          APPR_NO
        , APRP_SN
        , APPR_USER_ID
        , APPR_USER_NM
        , APPR_DEPT_NM
        , APPR_TYP_SE
        , APPR_YN
        , APPR_DT
        , RMK
        , FILE_GRP_NO
        , APPR_PSCD
        , APRP_ORD_SN
        <include refid="ComRegr.RegrColumnClause"/>
		) VALUES (
		  {P_APPR_NO, jdbcType=VARCHAR}
		, {P_APRP_SN, jdbcType=VARCHAR}
        , {P_APPR_USER_ID, jdbcType=VARCHAR}
        , {P_APPR_USER_NM, jdbcType=VARCHAR}
        , {P_APPR_DEPT_NM, jdbcType=VARCHAR}
        , {P_APPR_TYP_SE, jdbcType=VARCHAR}
        , {P_APPR_YN, jdbcType=VARCHAR}
        , {P_APPR_DT, jdbcType=VARCHAR}
        , {P_RMK, jdbcType=VARCHAR}
        , {P_FILE_GRP_NO, jdbcType=VARCHAR}
        , {P_APPR_PSCD, jdbcType=VARCHAR}
        , {P_APRP_ORD_SN, jdbcType=VARCHAR}
        <include refid="ComRegr.RegrValueClause"/>
		)
	</insert>


	<select id="selectApprObjAprpList" resultType="dataEntity">
     	SELECT * FROM (
     		<include refid="apprObjAprpList" />
     	) A
     	<include refid="apprObjAprpListWhere"/>
     	ORDER BY APRP_SN
	</select>

	<!--  <select id="selectApprAprpListTotcnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="getApprTglList"/>
		) T1
			<include refid="getApprTglListWhere"/>
	</select>  -->
	
	
	<sql id="apprObjAprpList">
        SELECT APRP_SN
                  , APPR_NO
                  , APPR_USER_ID
                  , APPR_DEPT_NM
                  , APPR_TYP_SE
                  , APPR_USER_NM
                  , APPR_YN
                  , APPR_DT
                  , RMK
                  , FILE_GRP_NO
                  , APPR_PSCD
                  , REG_DT
                  , MOD_DT
                  , CONN_IP
                  , DEL_AT
           FROM T_MM_APPR_APRP APPR
         WHERE 1=1
             AND APPR_TYP_SE IN ('S','A')
 	</sql>
 	
 	<sql id="apprObjAprpListWhere">
 		<where>
	 		<if test=' P_APPR_NO != null and P_APPR_NO != "" '>
	     		AND	APPR_NO = #{P_APPR_NO}
	     	</if>
 		</where>
 	</sql>
 	

	<!--
     * <pre>
     * 1. 개요 : 결재마스터 업데이트
     * 2. 처리내용 : 결재마스터 업데이트
     * </pre>
     * @Query ID : updateApprMst
     * @date : 2018. 03. 26.
     * @author : 은우소프트 맹경열
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
     *  2018. 03. 26.       은우소프트 맹경열              최초 작성
     *  =======================================================
     -->
     <update id="updateApprMst">
        UPDATE T_MM_APPR_MST
              SET MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
                   , APPR_STCD = ( CASE
                                            WHEN (SELECT COUNT(*) FROM T_MM_APPR_APRP WHERE APPR_YN = 'R' AND APPR_NO = #{P_APPR_NO}) > 0 
                                            THEN 'RTN'
                                            WHEN (SELECT MAX(APRP_SN) FROM T_MM_APPR_APRP WHERE APPR_NO = #{P_APPR_NO}) = (SELECT MAX(APRP_SN) FROM T_MM_APPR_APRP WHERE NVL(APPR_YN,'N') = 'Y' AND APPR_NO = #{P_APPR_NO})
                                            THEN 'DONE'
                                            ELSE 'APP'
                                            END 
                                            )
                   , LT_APPR_YN = ( CASE
                                              WHEN (SELECT MAX(APRP_SN) FROM T_MM_APPR_APRP WHERE APPR_NO = #{P_APPR_NO}) = (SELECT MAX(APRP_SN) FROM T_MM_APPR_APRP WHERE NVL(APPR_YN,'N') = 'Y' AND APPR_NO = #{P_APPR_NO})
                                              THEN 'Y'
                                              ELSE 'N'
                                              END
                                              )
         WHERE 1=1
             AND APPR_NO = #{P_APPR_NO}
	</update>
     
     
     
     <update id="apprMstUpdate">
	     <if test='P_JOB_SE == "BI" '>
	     	UPDATE	T_BI_MST
			SET		MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
					,BID_PSCD = (
						CASE
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD != 'RTN' AND APPR_TYP_SE  IN ('S','A')) > 0
					    THEN 'PF06'
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD = 'RTN' AND APPR_TYP_SE  IN ('S','A')) > 0
					    THEN 'PF07'
					    ELSE 'PF20'
					    END
					  )
			WHERE	1=1
			AND		WRT_APPR_NO = #{P_APPR_NO}
	     </if>
	     
	     
	     <if test='P_JOB_SE == "IN" '>
	     	UPDATE	T_MB_MST
			SET		MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
					,CONF_PSCD = (
						CASE
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD != 'RTN') > 0
					    THEN 'APPR_REQ'
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD = 'RTN') > 0
					    THEN 'APPR_RTN'
					    ELSE 'APPR_DONE'
					    END
					  )
			WHERE	1=1
			AND		APPR_NO = #{P_APPR_NO}
	     </if>
	     
	     <if test='P_JOB_SE == "BF" '>
            UPDATE T_BI_BRFS_MST
                  SET MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
                      , BRFS_PSCD = ( CASE
                                                WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD != 'RTN' AND APPR_TYP_SE  IN ('S','A')) > 0
<!--                                                 WHEN (SELECT COUNT(*) FROM   T_MM_APPR_APRP     WHERE  APPR_NO = #{P_APPR_NO}) >  (SELECT COUNT(*) FROM T_MM_APPR_APRP WHERE APPR_NO =#{P_APPR_NO} AND APPR_YN IN ('Y')) -->
                                                THEN 'BF11'
                                                WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD = 'RTN' AND APPR_TYP_SE  IN ('S','A')) > 0
                                                THEN 'BF10'
                                                ELSE 'BF12'
                                                END
					  )
			WHERE	1=1
			AND APPR_NO = #{P_APPR_NO}
	     </if>
	     <if test='P_JOB_SE == "ET" '>
	     	UPDATE	T_BI_MST
			SET		MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
					,BID_PSCD = (
						CASE
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD != 'RTN') > 0
					    THEN 'ET11'
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD = 'RTN') > 0
					    THEN 'ET12'
					    ELSE 'ET20' <!--고명철 책임 요청으로 결재완료 대신 바로 공고로 UPDATE -->
					    END
					  )
			WHERE	1=1
			AND		WRT_APPR_NO = #{P_APPR_NO}
	     </if>
	     <if test='P_JOB_SE == "EV" '>
	     	UPDATE	T_BI_EVAL_USER
			SET		MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
					,CHRGR_PSCD = (
						CASE
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD != 'RTN') > 0
					    THEN 'EV210'
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD = 'RTN') > 0
					    THEN 'EV220'
					    ELSE 'EV300' 
					    END
					  )
			WHERE	1=1
			AND		APPR_NO = #{P_APPR_NO}
	     </if>
	      <if test='P_JOB_SE == "CO_ALL" '>
	     	UPDATE	T_CT_MST
			SET		MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
					,CONT_PSCD = (
						CASE
						WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD != 'RTN' AND APPR_TYP_SE = 'S') > 0
					    THEN 'CT35'
					    WHEN (SELECT COUNT(*) FROM T_MM_APPR_MST MST, T_MM_APPR_APRP USR WHERE MST.APPR_NO = USR.APPR_NO AND MST.APPR_NO =  #{P_APPR_NO} AND NVL(APPR_YN,'N') != 'Y' AND APPR_STCD = 'RTN' AND APPR_TYP_SE = 'S') > 0
					    THEN 'CT37'
					    ELSE 'CT50'
					    END
					  )
			WHERE	1=1
			AND		APPR_NO = #{P_APPR_NO}
	     </if>
	</update>

	<!--
     * <pre>
     * 1. 개요 : 결재여부 업데이트
     * </pre>
     * @Query ID : updateApprAprpYn
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
     *  2018. 03. 23.       은우소프트 맹경열              최초 작성
     *  =======================================================
     -->
     <update id="updateApprAprpYn">
        UPDATE T_MM_APPR_APRP
              SET MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
                  <if test=' P_APPR_YN != null and P_APPR_YN != "" '>
                  , APPR_YN = #{P_APPR_YN}
                  , APPR_DT = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
                  </if>
        WHERE 1=1
            AND APPR_NO = #{P_APPR_NO}
            AND APRP_SN = #{P_APRP_SN}
     </update>
     
     
     <resultMap id="dataCntn" type="dataEntity">
    	<result property="BODY_CN_HTML" column="BODY_CN_HTML" jdbcType="CLOB" javaType="java.lang.String" />
    </resultMap>
    
     <select id="selectApprObjMstDetail" resultMap="dataCntn">
        SELECT A.APPR_NO
                  , A.APPR_STCD
                  , A.APPR_NM
                  , A.APPR_CN
                  , A.BODY_CN_HTML
                  , A.BODY_LNKTN
                  , A.APPR_SE
                  , A.JOB_SE
                  , A.FILE_GRP_NO
                  , A.LT_APPR_YN
                  , A.REG_DT
                  , A.REGR_ID
                  , A.REGR_NM
                  , A.MOD_DT
                  , A.MODR_ID
                  , A.MODR_NM
                  , (SELECT APRP_SN FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND APPR_USER_ID = #{P_APPR_USER_ID, jdbcType=VARCHAR} ) AS APRP_SN
                  , (CASE WHEN (SELECT APRP_SN FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND APPR_USER_ID = #{P_APPR_USER_ID, jdbcType=VARCHAR} AND APPR_TYP_SE in ('S','A'))
							=
						 	(SELECT MIN(APRP_SN) FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND NVL(B.APPR_YN,'N') = 'N' AND APPR_TYP_SE in ('S','A') )
					   THEN 'Y'
					   ELSE 'N'
					   END
				) AS APPR_TRGET
           FROM T_MM_APPR_MST A
        WHERE 1=1
            AND A.APPR_NO = #{P_APPR_NO, jdbcType=VARCHAR}
     </select>
     <!--
     * <pre>
     * 1. 개요 : 공통 업데이트
     * 2. 처리내용 :
     * </pre>
     * @Query ID : statusByCommUpdt
	 * @date : 2015. 06 15.
	 * @author : 은우소프트 김봉수
     * @history :
     *  =======================================================
     *  변경일             		작성자                     		변경내용
     *  =======================================================
	 *	2015. 06. 15.		  은우소프트 김봉수		  				최초 작성
     *  =======================================================
     -->
	<update id="statusByCommUpdt" statementType="CALLABLE">
		{ call P_INAPPR_SEND_UPDATE(
			#{P_APPR_NO, mode=IN, jdbcType=VARCHAR}
			)
		}
	</update>

	<update id="apprMstUpdateRsn">
		UPDATE	T_BA_SAFE_BOARD
		SET		MOD_DT  = TO_CHAR(SYSDATE, 'yyyyMMddhh24miss')
				,SAFE_PSCD = 'SF40'
		WHERE	1=1
		AND		SAFE_APPR_NO = #{P_APPR_NO}
	</update>
	
	
	
	
	<select id="selectApprCmplList" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT * FROM (
			<include refid="apprCmplList"/>
			<include refid="apprCmplListWhere"/>
			ORDER BY TO_NUMBER(APPR_NO) DESC, APRP_SN
		) T1
		WHERE 1 = 1
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	
	<select id="selectApprCmplListTotCnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="apprCmplList"/>
			<include refid="apprCmplListWhere"/>
		) T1
		WHERE 1 = 1		
	</select>
	
	<sql id="apprCmplList">
        SELECT * FROM (
            SELECT A.APPR_NO
                      , B.APRP_SN
                      , A.APPR_STCD
                      , F_CDVAL_INQIRE('APPR_STCD', A.APPR_STCD) AS APPR_STCD_NM
                      , A.APPR_NM
                      , A.JOB_SE
                      , B.APPR_TYP_SE
                      , B.APPR_USER_ID
                      , B.APPR_USER_NM
                      , B.APPR_YN
                      , A.LT_APPR_YN
                      , A.REG_DT
                      , A.REGR_NM
                      , B.APPR_DT
                      , (CASE WHEN (SELECT APRP_SN FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND APPR_USER_ID = #{P_APPR_USER_ID, jdbcType=VARCHAR} AND APPR_TYP_SE = 'S')
							= (SELECT MIN(APRP_SN) FROM T_MM_APPR_APRP B WHERE A.APPR_NO = B.APPR_NO AND NVL(B.APPR_YN, 'N') = 'N' AND APPR_TYP_SE = 'S')
					     THEN 'Y'
					     ELSE 'N'
					     END ) AS APPR_TRGET
               FROM T_MM_APPR_MST A
                      , T_MM_APPR_APRP B
             WHERE 1=1
                 AND A.APPR_NO = B.APPR_NO
        )
	</sql>
	
	<sql id="apprCmplListWhere">
		<where>
			<if test='P_APPR_USER_ID != null and P_APPR_USER_ID != "" '>
			    AND APPR_USER_ID = #{P_APPR_USER_ID}
			</if>
			<if test=' P_APPR_NM_S != null and P_APPR_NM_S != "" '>
				AND	APPR_NM LIKE '%'||#{P_APPR_NM_S}||'%'
			</if>
			<if test=' P_APRDC_INTL_NM_S != null and P_APRDC_INTL_NM_S != "" '>
				AND	APPR_NM LIKE '%'||#{P_APRDC_INTL_NM_S}||'%'
			</if>
			<if test='P_REG_DT_ST_S != null and P_REG_DT_ST_S != "" '>
				AND TO_CHAR(TO_DATE(REG_DT, 'yyyyMMddHH24miss'), 'yyyy-MM-dd') >= #{P_REG_DT_ST_S}
			</if>
			<if test='P_REG_DT_END_S != null and P_REG_DT_END_S != "" '>
				AND TO_CHAR(TO_DATE(REG_DT, 'yyyyMMddHH24miss'), 'yyyy-MM-dd') &lt;= #{P_REG_DT_END_S}
			</if>
		</where>
	</sql>
	
 </mapper>
