<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * sqlmap.ipro.ebid
 * IproEbidPlanMapper.xml
 * 
 * @Author : sanghoon_joen
 * @Date   : 2018. 2. 21.
 * 
 -->
<mapper namespace="com.eunwoosoft.ipro.ebid.dao.IproEbidPrprcManageDao">

	<!--  
     * <pre>
     * 1. 개요 : 제안/규격서 검토 목록조회_페이징 
     * 2. 처리내용 :
     *  	
	 * @Query ID : selectPrprcManageListWithPgng
	 * @date : 2019. 02. 18.
	 * @author : 맹경열
	 -->
	<select id="selectPrprcManageListWithPgng" resultType="dataEntity">
		<include refid="ComPgng.pgngHeaderClause"/>
		SELECT * FROM (
			<include refid="prprcRegReqManageList"/>
			<include refid="prprcRegReqManageWhere"/>
			ORDER BY PRPDC_SBMT_ENDT DESC, ANNC_NO DESC, ANNC_NGR DESC
		) T1
		WHERE 1 = 1
		<include refid="ComPgng.pgngTailClause"/>
	</select>
	
	<!--  
     * <pre>
     * 1. 개요 : 제안/규격서 검토 목록총건수조회 
     * 2. 처리내용 :
     *  	
	 * @Query ID : selectPrdprcManageListTotcnt
	 * @date : 2019. 02. 18.
	 * @author : 맹경열
	 -->
	<select id="selectPrprcManageListTotcnt" resultType="int">
		SELECT COUNT(1) FROM (
			<include refid="prprcRegReqManageList"/>
			<include refid="prprcRegReqManageWhere"/>
		) T1
		WHERE 1 = 1		
	</select>
	
	<sql id="prprcRegReqManageList">
		SELECT T.* FROM (
			SELECT	A.ANNC_NO
						, A.ANNC_NGR
						, B.ROUND_NO
						, A.BID_NM
						, A.CONT_SECD
						, F_CDVAL_INQIRE('CONT_SECD', A.CONT_SECD) AS CONT_SECD_NM
						, A.SBID_MTCD
						, F_CDVAL_INQIRE('SBID_MTCD', A.SBID_MTCD) AS SBID_MTCD_NM
						, A.CHRGR_ID
						, A.CHRGR_NM
						, A.BID_MTCD
						, F_CDVAL_INQIRE('BID_MTCD', A.BID_MTCD) AS BID_MTCD_NM
						, A.CONT_MTCD
						, F_CDVAL_INQIRE('CONT_MTCD', A.CONT_MTCD) AS CONT_MTCD_NM
						, B.ANNC_DT
						, B.PRPDC_SBMT_STDT
						, B.PRPDC_SBMT_ENDT
						, ( SELECT COUNT(*)
						       FROM T_BI_VEND_MST VM
						     WHERE B.ANNC_NO  = VM.ANNC_NO
						          AND B.ANNC_NGR = VM.ANNC_NGR
						          AND B.ROUND_NO = VM.ROUND_NO ) AS OPEN_CNT
						, CASE
							WHEN	(	SELECT COUNT(1) 
											FROM T_BI_VEND_MST 
											WHERE 1=1 
											AND ANNC_NO = B.ANNC_NO 
											AND ANNC_NGR = B.ANNC_NGR 
											AND ROUND_NO = B.ROUND_NO 
											AND ESTM_ELCD IS NULL
											AND BID_VEND_PSCD NOT IN ('OP01')
										) &lt; 1
							THEN		'검토완료'
							ELSE		'검토전'
						  END AS ELCD_PRGR_NM
			FROM		T_BI_MST A
						, T_BI_ROUND B
			WHERE	1=1
		        AND	A.ANNC_NGR = ( SELECT MAX(ANNC_NGR) FROM T_BI_MST WHERE ANNC_NO = A.ANNC_NO )
		        AND	A.ANNC_NO = B.ANNC_NO
		        AND	A.ANNC_NGR = B.ANNC_NGR
		        AND	B.ROUND_NO = ( SELECT MAX(ROUND_NO) FROM T_BI_ROUND WHERE ANNC_NO = A.ANNC_NO AND ANNC_NGR = A.ANNC_NGR )
		        AND	A.BID_PSCD IN ('PF20','PF30')
		        AND	NVL(A.DEL_AT, 'N') != 'Y'
		        AND	A.BID_MTCD = 'BID'
		        AND	A.PRPDC_ESS_YN = 'Y'
		) T
	</sql>
	
	<sql id="prprcRegReqManageWhere">
		<where>
			<if test='P_BID_NM_S != null and P_BID_NM_S != "" '>
				AND BID_NM LIKE '%'||#{P_BID_NM_S}||'%'
			</if>
			<if test='P_ANNC_NO_S != null and P_ANNC_NO_S != "" '>
				AND ANNC_NO LIKE '%'||#{P_ANNC_NO_S}||'%'
			</if>
			<if test='P_CONT_SECD_S != null and P_CONT_SECD_S != "" '>
				AND CONT_SECD = #{P_CONT_SECD_S}
			</if>
			<if test='P_SBID_MTCD_S != null and P_SBID_MTCD_S != "" '>
				AND SBID_MTCD = #{P_SBID_MTCD_S}
			</if>
			<if test='P_ESTM_ELCD_S != null and P_ESTM_ELCD_S != "" '>
				AND ESTM_ELCD = #{P_ESTM_ELCD_S}
			</if>
			<if test='P_PRPDC_SBMT_ENDT_STDE_S != null and P_PRPDC_SBMT_ENDT_STDE_S != "" '>
				AND TO_CHAR(TO_DATE(PRPDC_SBMT_ENDT, 'yyyyMMddhh24miss'), 'yyyyMMdd') >= #{P_PRPDC_SBMT_ENDT_STDE_S}
			</if>
			<if test='P_PRPDC_SBMT_ENDT_ENDE_S != null and P_PRPDC_SBMT_ENDT_ENDE_S != "" '>
				AND TO_CHAR(TO_DATE(PRPDC_SBMT_ENDT, 'yyyyMMddhh24miss'), 'yyyyMMdd') &lt;= #{P_PRPDC_SBMT_ENDT_ENDE_S}
			</if>
			<if test='P_ESTC_PSCD_S != null and P_ESTC_PSCD_S != "" '>
				AND NVL(ESTC_PSCD, 'ES00') = #{P_ESTC_PSCD_S}
			</if>
			<if test='P_CHRGR_ID_S != null and P_CHRGR_ID_S != "" '>
				AND CHRGR_ID = #{P_CHRGR_ID_S}
			</if>
		</where>
	</sql>
	
	<!--  
     * <pre>
     * 1. 개요 : 제안/규격서검토 상세 조회
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectBidPrprcInfoDetail
     * @date : 2019. 02. 19.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 19.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->		
	<select id="selectBidPrprcInfoDetail" resultType="dataEntity">
		SELECT 	A.ANNC_NO
					, A.ANNC_NGR
					, B.ROUND_NO
					, A.BID_NM
					, A.BID_ENM
					, A.BID_PSCD
					, F_CDVAL_INQIRE('BID_PSCD', A.BID_PSCD) AS BID_PSCD_NM
					, A.APPR_STCD
					, A.CONT_SECD
					, F_CDVAL_INQIRE('CONT_SECD', A.CONT_SECD) AS CONT_SECD_NM
					, A.CONT_DECD
					, A.BID_MTCD
					, F_CDVAL_INQIRE('BID_MTCD', A.BID_MTCD) AS BID_MTCD_NM
					, A.SBID_MTCD
					, F_CDVAL_INQIRE('SBID_MTCD', A.SBID_MTCD) AS SBID_MTCD_NM
					, A.ASSO_SPDM_CD
					, A.ESTPC_SECD
					, F_CDVAL_INQIRE('ESTPC_SECD', A.ESTPC_SECD) AS ESTPC_SECD_NM
					, A.SUM_RTCD
					, A.ELGB_LMT_SCR
					, A.SBID_LWST_RT
					, A.BASE_AMT
					, A.ESTT_AMT
					, A.BIDGR_SECD
					, A.BID_RNG_CNTN
					, A.RQSTR_ID
					, A.RQSTR_NM
					, A.RQSTR_EMAL
					, A.RQSTR_TEL_NO
					, A.RQST_DEPT_NO
					, A.RQST_DEPT_NM
					, A.RQST_DT
					, A.CHRGR_ID
					, A.CHRGR_NM
					, A.CHRGR_TEL_NO
					, A.CHRGR_EMAL
					, A.CHRGR_DEPT_NO
					, A.CHRGR_DEPT_NM
					, A.ESTM_CHRGR_ID
					, A.ESTM_CHRGR_NM
					, A.ESTM_DEPT_NO
					, A.ESTM_DEPT_NM
					, A.BRFS_SECD
					, A.BRFS_PLC_NM
					, A.BRFS_DT
					, A.BRFS_CNTN
					, A.BRFS_CHRGR_ID
					, A.BRFS_CHRGR_NM
					, A.BRFS_CHRGR_TEL_NO
					, A.BRFS_FILE_GRP_NO
					, A.CPDF_RT
					, A.ITEM_DRCD
					, A.DLGD_PLC_NM
					, A.DLGD_TE_CNTN
					, A.DLGD_STDE
					, A.DLGD_ENDE
					, A.ITEM_ETC_CNTN
					, A.CTRC_TE_CNTN
					, A.CTRC_STDE
					, A.CTRC_ENDE
					, A.DFC_TE_CNTN
					, A.DFC_TE_STDE
					, A.DFC_TE_ENDE
					, A.PRCH_RQR_NO
					, A.PRCH_NO
					, A.ESTM_PLAN_NO
					, A.EMRG_YN
					, A.OPNG_YN
					, A.SBID_YN
					, A.LT_NGR_YN
					, A.G2B_NTFY_YN
					, A.PRVT_CONT_YN
					, A.FNGR_BID_YN
					, A.LNG_CONT_YN
					, A.CONT_CRTN_YN
					, A.APTS_INC_YN
					, A.ITNT_BID_YN
					, A.EMAL_TRNM_YN
					, A.SMS_TRNM_YN
					, A.LH_SCR_APPL_YN
					, A.PRTC_QLF_CNTN
					, A.RMK
					, A.CTFL_GTAMT_RT
					, A.DFFL_GTAMT_RT
					, A.ANNC_SECD
					, A.PRCDC_SBMT_YN
					, A.PRPDC_ESS_YN
					, A.EMRG_BID_RSN
					, A.ESTT_PRCE
					, A.BSNS_BDG_AMT
					, A.BID_BRFS_YN
					, A.BID_BRFS_ATND_YN
					, A.SITE_BRFS_YN
					, A.SITE_BRFS_DT
					, A.SITE_BRFS_PLC
					, A.GTAMT_PYMT_TYP
					, A.SMPR_BID_SECD
					, A.ARA_LMT_CD
					, A.BTP_LMT_CD
					, A.ISTL_LMT
					, A.DOC_NO
					, A.AUTO_FBID_YN
					, A.CONT_STDE
					, A.CONT_ENDE
					, A.CONT_TE
					, A.IFC_ID
					, A.BSNS_BDG_STAX_YN
					, A.OPNG_SYS_SECD
					, A.PLR_ESTPC_RNG_CD
					, A.UPR_8CNT_YN
					, A.TNDR_AMT_STAX_YN
					, A.UPRC_YN
					, A.BIDGR_AMT
					, A.BID_GTAMT_RT
					, A.TCHN_SCR_RT
					, A.PRCE_SCR_RT
					, A.ESTPC_UP_CNT
					, A.OPNG_PLC_NM
					, A.ELGB_ESTM_KDCD
					, A.SW_BSNS_OBJ_YN
					, A.PVCT_CNVR_YN
					, A.DTAC_TNDR_LMT_CNT
					, A.MIN_DN_RT
					, A.TNDR_PSBL_AMT
					, A.ZERO_BID_PSBL_YN
					, A.CONT_MTCD
					, A.TCHN_CHRGR_ID
					, A.TCHN_CHRGR_NM
					, A.TCHN_CHRGR_TEL_NO
					, A.TCHN_CHRGR_EMAL
					, A.BF_ANNC_NO					
					
					, B.ANNC_DT
					, B.PRTC_APLY_STDT
					, B.PRTC_APLY_ENDT
					, B.BIDC_SBMT_STDT
					, B.BIDC_SBMT_ENDT
					, B.PRPDC_SBMT_STDT
					, B.PRPDC_SBMT_ENDT
					, B.OPNG_DT
					, B.ESTPC_AMT
					, B.ENC_ESTPC_AMT
					, B.ROUND_RSN
					, B.RMK
					, B.LT_CONN_DT
					, ( SELECT LISTAGG(BFAN_NO,', ') WITHIN GROUP (ORDER BY BFAN_NO) FROM T_BI_BFAN_MST BF WHERE A.PRCH_NO = BF.PCAC_NO ) AS BFAN_NO_LIST
		FROM 	T_BI_MST A
					, T_BI_ROUND B
		WHERE	1=1
		AND		A.ANNC_NO = B.ANNC_NO
		AND		A.ANNC_NGR = B.ANNC_NGR
		AND		B.ANNC_NO = #{P_ANNC_NO, jdbcType=VARCHAR}
		AND		B.ANNC_NGR = #{P_ANNC_NGR, jdbcType=INTEGER}
		AND		B.ROUND_NO = #{P_ROUND_NO, jdbcType=INTEGER}
		AND		NVL(A.DEL_AT,'N') = 'N'
	</select>

	<!--  
     * <pre>
     * 1. 개요 : 입찰참가업체 목록 조회 
     * 2. 처리내용 :
     * </pre>
     * @Query ID : selectBidPrprcEntrpsList
     * @date : 2019. 02. 19.
     * @author : 은우소프트 맹경열
     * @history : 
     *  =======================================================
     *  변경일             		작성자                     		변경내용  
     *  =======================================================
     *  2019. 02. 19.       은우소프트 맹경열              최초 작성 
     *  =======================================================   
     -->
	<select id="selectBidPrprcEntrpsList" resultType="dataEntity">
		SELECT	VEND_MST.ANNC_NO
					, VEND_MST.ANNC_NGR
					, VEND_MST.ROUND_NO
					, VEND_MST.BID_ELCD
					, VEND_MST.VEND_REG_NO
					, CU_MST.VEND_NM
					, CU_MST.BIZRNO
					, CU_MST.RPRS_NM
					, VEND_GRNT.BIDGR_AMT
					, VEND_GRNT.BIDGR_SECD
					, F_CDVAL_INQIRE('BIDGR_SECD', VEND_GRNT.BIDGR_SECD) AS BIDGR_SECD_NM
					, VEND_MST.BID_ABND_YN
					, VEND_MST.BID_VEND_PSCD
					, VEND_MST.ESTM_SCR
					, VEND_MST.ESTM_SCR * (10/ (	
																SELECT	TCHN_SCR_RT 
																FROM 	T_BI_MST 
																WHERE	ANNC_NO = VEND_MST.ANNC_NO 
																AND		ANNC_NGR = VEND_MST.ANNC_NGR) ) AS ESTM_SCR_BASE
					, VEND_MST.ESTM_ELCD
					, F_CDVAL_INQIRE('ESTM_ELCD', VEND_MST.ESTM_ELCD) AS ESTM_ELCD_NM
					, VEND_MST.NT_ELGB_RSN
					, VEND_DTL.BID_TPI_SECD
					, VEND_DTL.CHRGR_NM
					, VEND_DTL.TEL_NO
					, VEND_DTL.EMAL_ADDR
					, VEND_DTL.SIGN_DT
					, (	SELECT FILE_GRP_NO
						FROM	T_BI_VEND_FILE
						WHERE	ANNC_NO = VEND_MST.ANNC_NO
						AND		ANNC_NGR = VEND_MST.ANNC_NGR
						AND		ROUND_NO = VEND_MST.ROUND_NO
						AND		VEND_REG_NO = VEND_MST.VEND_REG_NO
						AND		BID_TPI_SECD = 'OP03'
						AND		BID_SBMT_FSCD = 'DO02') AS FILE_GRP_NO
		FROM		T_BI_VEND_MST VEND_MST
					, T_BI_VEND_DTL VEND_DTL
					, T_BI_VEND_GRNT VEND_GRNT
					, T_CU_MST CU_MST
		WHERE 	1=1
		AND		VEND_MST.ANNC_NO = VEND_DTL.ANNC_NO
		AND		VEND_MST.ANNC_NGR = VEND_DTL.ANNC_NGR
		AND		VEND_MST.ROUND_NO = VEND_DTL.ROUND_NO
		AND		VEND_MST.VEND_REG_NO =  VEND_DTL.VEND_REG_NO
		AND		VEND_MST.ANNC_NO = VEND_GRNT.ANNC_NO(+)
		AND		VEND_MST.ANNC_NGR = VEND_GRNT.ANNC_NGR(+)
		AND		VEND_MST.ROUND_NO = VEND_GRNT.ROUND_NO(+)
		AND		VEND_MST.VEND_REG_NO =  VEND_GRNT.VEND_REG_NO(+)
		AND		VEND_MST.VEND_REG_NO =  CU_MST.VEND_REG_NO
		AND		VEND_GRNT.GRNT_SN(+) = 1
		AND		VEND_MST.ANNC_NO = #{P_ANNC_NO}
		AND		VEND_MST.ANNC_NGR = #{P_ANNC_NGR}
		AND		VEND_MST.ROUND_NO = #{P_ROUND_NO}
		AND		NVL(VEND_MST.BID_ABND_YN,'N') = 'N'
		<if test='P_BID_TPI_SECD != null and P_BID_TPI_SECD != "" '>
			AND VEND_DTL.BID_TPI_SECD= #{P_BID_TPI_SECD}
		</if>
		ORDER BY SIGN_DT DESC
	</select>
	
</mapper>